# Regression Project on Car Resale Prices

## Step - 1 Business Problem Understanding

**Predict the Car Resale Price**

## Step - 2 Data Understanding

In [1]:
import pandas as pd
cars = pd.read_csv("C:\\NARESHIT\\car_resale_prices .csv")
cars

In [2]:
cars.info()

In [3]:
cars.isnull().sum()

In [4]:
car = cars.copy()
car

In [5]:
car.shape

In [6]:
car["full_name"].nunique()

In [7]:
car["resale_price"].unique()

In [8]:
car["resale_price"].value_counts()

In [9]:
car["registered_year"].unique()

In [10]:
car["engine_capacity"].unique()

In [11]:
car["insurance"].unique()

In [12]:
car["kms_driven"].unique()

In [13]:
car["fuel_type"].unique()

In [14]:
car["owner_type"].unique()

In [15]:
car['owner_type'].unique()

In [16]:
car["seats"].unique()

In [17]:
car["seats"].value_counts()

In [18]:
car["mileage"].unique()

In [19]:
car["mileage"].unique()

In [20]:
car["body_type"].unique()

In [21]:
car["body_type"].value_counts()

In [22]:
car['city'].unique()

In [23]:
car['city'].value_counts()

## Step - 2 Data Cleaning

**Column 1 - full_name**

In [24]:
car['car_name'] = car['full_name'].replace(car.full_name.value_counts().to_dict())

In [25]:
car['car_name'].value_counts()

In [26]:
df_train = pd.concat([car, car['car_name']], axis = 1)
car['car_name'].value_counts()

In [ ]:
car['car_name'].isna().sum()

In [ ]:
car.drop('full_name', axis = 1, inplace = True)

**Column 3 - engine_capacity**

In [ ]:
car["engine_capacity"] = car["engine_capacity"].str.removesuffix("cc")
car

**Treating missing values**

We can drop all missing values because we didnot know how to fill it.

In [ ]:
car.dropna(subset  = ['registered_year','insurance','kms_driven','owner_type','max_power','mileage','seats','engine_capacity'], axis = 0 , inplace = True)

In [ ]:
car.isna().sum()

In [ ]:
car["engine_capacity"] = car["engine_capacity"].astype(int)

**Column 4 - insurance**

In [ ]:
car["insurance"] =car["insurance"].str.replace("1","First Party")
car

In [ ]:
car["insurance"] =car["insurance"].str.replace("2","Second Party")

In [ ]:
car["insurance"] =car["insurance"].str.replace("Third Party insurance","Third Party")

In [ ]:
car.isna().sum()

**Column 6 - kms_driven**

In [ ]:
car["kms_driven"] =car["kms_driven"].str.removesuffix("Kms")
car

In [ ]:
car["kms_driven"] =car["kms_driven"].str.replace(",","")
car

In [ ]:
car["kms_driven"] =car["kms_driven"].astype(int)
car

**Column 9 - seats**

In [ ]:
car.dropna(subset  = ["seats"], axis = 0 , inplace = True)
car

In [ ]:
car["seats"] = car["seats"].astype(int)

**Column 10 - mileage**

In [ ]:
car["mileage"] = car["mileage"].str.removesuffix("kmpl")
car

In [ ]:
car["mileage"] = car["mileage"].str.removesuffix("km/kg")

In [ ]:
car["mileage"] = car["mileage"].astype(float)

In [ ]:
car["mileage"].unique()

**Column 2 - resale_price**

In [ ]:
car["resale_price"] = car["resale_price"].str.removeprefix("â‚¹")
car

In [ ]:
car["resale_price"] = car["resale_price"].str.replace(',',' ')

In [ ]:
car["resale_price"].unique()

In [ ]:
 car["resale_price"] = car["resale_price"].str.replace('[^\d\-+\.]', '')

In [ ]:
car["resale_price"] = car["resale_price"].str.rstrip('.')

car["resale_price"] = car["resale_price"].str.lstrip('+')

In [ ]:
car["resale_price"] = car["resale_price"].str.replace(',','').astype('float64')

In [ ]:
car['resale_price'].unique()

In [ ]:
car['resale_price'] = car['resale_price'].apply(lambda x: x * 100 if x > 100 else x)

# Check for outliers and remove or impute
mean_value = car['resale_price'].mean()
std_dev = car['resale_price'].std()
car['resale_price'] = car['resale_price'].apply(lambda x: mean_value if x > mean_value + 3 * std_dev else x)

# Normalize the data
car['resale_price'] = car['resale_price'] / 100  # Convert back to lakh

car

In [ ]:
car['resale_price'].max()

In [ ]:
car["resale_price"] = car["resale_price"]*10000000

In [ ]:
car[car["resale_price"] ==car['resale_price'].max()]

In [ ]:
car

**Column 3 - registered_year**

In [ ]:
car["registered_year"].unique()

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Jan-11':'2011','Jan-12':'2012','Jan-13':'2013','Jan-14':'2014','Jan-15':'2015','Jan-16':'2016','Jan-17':'2017','Jan-18':'2018','Jan-19':'2019','Jan-20':'2020','Jan-21':'2021','Jan-22':'2022'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Feb-11':'2011','Feb-12':'2012','Feb-13':'2013','Feb-14':'2014','Feb-15':'2015','Feb-16':'2016','Feb-17':'2017','Feb-18':'2018','Feb-19':'2019','Feb-20':'2020','Feb-21':'2021','Feb-22':'2022'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Mar-11':'2011','Mar-12':'2012','Mar-13':'2013','Mar-14':'2014','Mar-15':'2015','Mar-16':'2016','Mar-17':'2017','Mar-18':'2018','Mar-19':'2019','Mar-20':'2020','Mar-21':'2021','Mar-22':'2022'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Apr-11':'2011','Apr-12':'2012','Apr-13':'2013','Apr-14':'2014','Apr-15':'2015','Apr-16':'2016','Apr-17':'2017','Apr-18':'2018','Apr-19':'2019','Apr-20':'2020','Apr-21':'2021','Apr-22':'2022'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Jun-11':'2011','Jun-12':'2012','Jun-13':'2013','Jun-14':'2014','Jun-15':'2015','Jun-16':'2016','Jun-17':'2017','Jun-18':'2018','Jun-19':'2019','Jun-21':'2021','Jun-20':'2020','Jun-22':'2022'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Jul-11':'2011','Jul-12':'2012','Jul-13':'2013','Jul-14':'2014','Jul-15':'2015','Jul-16':'2016','Jul-17':'2017','Jul-18':'2018','Jul-19':'2019','Jul-20':'2020','Jul-21':'2021','Jul-22':'2022'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Aug-11':'2011','Aug-12':'2012','Aug-13':'2013','Aug-14':'2014','Aug-15':'2015','Aug-16':'2016','Aug-17':'2017','Aug-18':'2018','Aug-19':'2019','Aug-20':'2020','Aug-21':'2021','Aug-22':'2022'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Sep-11':'2011','Sep-12':'2012','Sep-13':'2013','Sep-14':'2014','Sep-15':'2015','Sep-16':'2016','Sep-17':'2017','Sep-18':'2018','Sep-19':'2019','Sep-20':'2020','Sep-21':'2021','Sep-22':'2022'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Oct-11':'2011','Oct-12':'2012','Oct-13':'2013','Oct-14':'2014','Oct-15':'2015','Oct-16':'2016','Oct-17':'2017','Oct-18':'2018','Oct-19':'2019','Oct-20':'2020','Oct-21':'2021','Oct-22':'2022'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Nov-11':'2011','Nov-12':'2012','Nov-13':'2013','Nov-14':'2014','Nov-15':'2015','Nov-16':'2016','Nov-17':'2017','Nov-18':'2018','Nov-19':'2019','Nov-20':'2020','Nov-21':'2021','Nov-22':'2022'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Dec-11':'2011','Dec-12':'2012','Dec-13':'2013','Dec-14':'2014','Dec-15':'2015','Dec-16':'2016','Dec-17':'2017','Dec-18':'2018','Dec-19':'2019','Dec-21':'2021','Dec-20':'2020','Dec-22':'2022'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Jan-23':'2023','Feb-23':'2023','Mar-23':'2023','Apr-23':'2023','Jun-23':'2015','Jul-23':'2016','Aug-23':'2023','Sep-23':'2023','Oct-23':'2023','Nov-23':'2023','Dec-23':'2023'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'May-11':'2011','May-12':'2012','May-13':'2013','May-14':'2014','May-15':'2015','May-16':'2016','May-17':'2017','May-18':'2018','May-19':'2019','May-20':'2020','May-21':'2021','May-22':'2022','May-23':'2023'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Jan-05':'2005','Jan-06':'2006','Jan-08':'2008','Jan-09':'2009','Jan-10':'2010'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Feb-02':'2002','Feb-03':'2003','Feb-04':'2004','Feb-06':'2006','Feb-07':'2007','Feb-08':'2008','Feb-09':'2009','Feb-10':'2010'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Mar-03':'2003','Mar-08':'2008','Mar-09':'2009','Mar-10':'2010'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Apr-04':'2004','Apr-07':'2007','Apr-08':'2008','Apr-09':'2009','Apr-10':'2010'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'May-02':'2002','May-06':'2006','May-07':'2007','May-08':'2008','May-09':'2009','May-10':'2010'})

In [ ]:
car["registered_year"].unique()

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Jun-02':'2002','Jun-06':'2006','Jun-07':'2007','Jun-08':'2008','Jun-09':'2009','Jun-10':'2010'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Jul-03':'2003','Jul-04':'2004','Jul-05':'2005','Jul-06':'2006','Jul-07':'2007','Jul-08':'2008','Jul-09':'2009','Jul-10':'2010'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Aug-03':'2003','Aug-05':'2005','Aug-06':'2006','Aug-07':'2007','Aug-08':'2008','Aug-09':'2009','Aug-10':'2010'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Sep-05':'2005','Sep-08':'2008','Sep-09':'2009','Sep-10':'2010'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Oct-07':'2007','Oct-08':'2008','Oct-09':'2009','Oct-10':'2010'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Nov-06':'2006','Nov-07':'2007','Nov-08':'2008','Nov-09':'2009','Nov-10':'2010'})

In [ ]:
car["registered_year"] = car["registered_year"].replace({'Dec-03':'2003','Dec-04':'2004','Dec-06':'2006','Dec-08':'2008','Dec-09':'2009','Dec-10':'2010'})

In [ ]:
car["registered_year"].unique()

In [ ]:
car["registered_year"].value_counts()

In [ ]:
car.dropna(subset = ["registered_year"], axis = 0, inplace = True)

In [ ]:
car.info()

In [ ]:
car['registered_year'] = car['registered_year'].astype(int)

**Column 10 - max_power**

In [ ]:
car["max_power"] = car["max_power"].str.removesuffix("bhp")
car

In [ ]:
car["max_power"].unique()

In [ ]:
car['max_power'] = car['max_power'].str.extract('(\d+)')

In [ ]:
car['max_power'].unique()

In [ ]:
car.dropna(subset = ['max_power'], inplace = True)

In [ ]:
car['max_power'] = car['max_power'].astype(int)

In [ ]:
car.info()

# Removing Outliers

In [ ]:
l = car['resale_price'].quantile(0.25)
u = car['resale_price'].quantile(0.75)
car['resale_price'] = car['resale_price'].clip(l,u)
car

In [ ]:
l1 = car['registered_year'].quantile(0.25)
u1 = car['registered_year'].quantile(0.75)
car['registered_year'] = car['registered_year'].clip(l1,u1)
car

In [ ]:
l2 = car['engine_capacity'].quantile(0.25)
u2 = car['engine_capacity'].quantile(0.75)
car['engine_capacity'] = car['engine_capacity'].clip(l2,u2)
car

In [ ]:
l3 = car['kms_driven'].quantile(0.25)
u3 = car['kms_driven'].quantile(0.75)
car['kms_driven'] = car['kms_driven'].clip(l3,u3)
car

In [ ]:
l4 = car['max_power'].quantile(0.25)
u4 = car['max_power'].quantile(0.75)
car['max_power'] = car['max_power'].clip(l4,u4)
car

In [ ]:
l5 = car['seats'].quantile(0.25)
u5 = car['seats'].quantile(0.75)
car['seats'] = car['seats'].clip(l5,u5)
print(l5,u5)

In [ ]:
l6 = car['mileage'].quantile(0.25)
u6 = car['mileage'].quantile(0.75)
car['mileage'] = car['mileage'].clip(l6,u6)
car

In [ ]:
car.to_csv("cleaned_car_resale.csv", index = False)