# Regression Project on Car Resale Prices

## Step - 1 Business Problem Understanding

**Predict the Car Resale Price**

## Step - 2 Data Understanding

In [101]:
import pandas as pd
cars = pd.read_csv("C:\\NARESHIT\\car_resale_prices .csv")
cars

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,₹ 3.25 Lakh,Jul-13,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,₹ 20.75 Lakh,Jun-16,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,₹ 8.35 Lakh,Jun-16,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,₹ 13.95 Lakh,Jun-19,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,₹ 6.50 Lakh,Jun-17,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

In [102]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17446 entries, 0 to 17445
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          17446 non-null  object
 1   resale_price       17446 non-null  object
 2   registered_year    17377 non-null  object
 3   engine_capacity    17432 non-null  object
 4   insurance          17439 non-null  object
 5   transmission_type  17446 non-null  object
 6   kms_driven         17443 non-null  object
 7   owner_type         17401 non-null  object
 8   fuel_type          17446 non-null  object
 9   max_power          17344 non-null  object
 10  seats              17436 non-null  float64
 11  mileage            16938 non-null  object
 12  body_type          17446 non-null  object
 13  city               17446 non-null  object
dtypes: float64(1), object(13)
memory usage: 1.9+ MB

In [103]:
cars.isnull().sum()

full_name              0
resale_price           0
registered_year       69
engine_capacity       14
insurance              7
transmission_type      0
kms_driven             3
owner_type            45
fuel_type              0
max_power            102
seats                 10
mileage              508
body_type              0
city                   0
dtype: int64

In [104]:
car = cars.copy()
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,₹ 3.25 Lakh,Jul-13,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,₹ 20.75 Lakh,Jun-16,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,₹ 8.35 Lakh,Jun-16,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,₹ 13.95 Lakh,Jun-19,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,₹ 6.50 Lakh,Jun-17,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

In [105]:
car.shape

(17446, 14)

In [106]:
car["full_name"].nunique()

6923

In [107]:
car["resale_price"].unique()

array(['₹ 5.45 Lakh', '₹ 10 Lakh', '₹ 4.50 Lakh', ..., '₹ 62.90 Lakh',
       '₹ 26.89 Lakh', '₹ 11.29 Lakh'], dtype=object)

In [108]:
car["resale_price"].value_counts()

₹ 4.50 Lakh     216
₹ 3.50 Lakh     198
₹ 6.50 Lakh     195
₹ 5.50 Lakh     192
₹ 4 Lakh        191
               ...
₹ 1.42 Lakh       1
₹ 89.99 Lakh      1
₹ 20.15 Lakh      1
₹ 69.50 Lakh      1
₹ 11.29 Lakh      1
Name: resale_price, Length: 1738, dtype: int64

In [109]:
car["registered_year"].unique()

array(['2017', '2018', '2015', '2009', '2010', '2016', '2014', '2020',
       '2021', '2019', '2011', '2012', '2013', '2022', '2004', 'Jul-21',
       'Dec-18', 'Jun-18', 'Mar-16', 'Feb-18', 'Oct-14', 'Mar-14',
       'Feb-13', nan, 'Aug-18', 'Jun-19', 'Dec-21', 'Apr-19', 'May-18',
       'Nov-13', 'Sep-22', 'Jan-21', 'Sep-20', 'Jan-15', 'Oct-17',
       'Sep-19', 'Jul-19', 'Mar-20', 'Jan-18', 'Nov-15', 'May-15',
       'Dec-14', 'Feb-19', 'May-16', 'Apr-18', 'May-21', '2008', 'Mar-22',
       'Jun-16', 'Jul-20', 'Jun-17', 'Jul-16', 'Jun-15', 'Sep-18',
       'Nov-18', 'Aug-19', 'Jun-21', '2006', 'Jan-17', 'Aug-14', 'Jul-13',
       'Jul-17', 'Dec-13', 'Sep-16', 'Mar-17', 'Feb-20', 'Oct-18',
       'Jul-22', 'May-14', 'Aug-21', 'Aug-20', 'Mar-19', 'Jan-16',
       'Feb-16', 'Oct-15', 'May-19', 'Dec-12', 'Nov-21', 'Mar-18',
       'Nov-19', 'Aug-17', 'Feb-14', 'Feb-21', 'Mar-21', 'Aug-16',
       'Dec-16', 'Jan-20', 'Sep-17', 'Apr-21', 'Apr-17', 'Jun-13',
       'Dec-17', '2023', 'Jun-22', 'Apr-15', 'Jul-18', 'Nov-20', 'Oct-20',
       'May-20', 'Apr-22', 'Dec-20', 'Jul-14', 'Mar-15', 'Dec-19',
       'Oct-19', 'Feb-15', 'May-17', 'May-13', 'Dec-15', 'Feb-22',
       'Oct-16', 'Jan-22', 'Oct-21', 'Jun-20', 'Oct-11', 'Sep-21', '2003',
       'Oct-22', 'Aug-13', 'May-11', 'Jan-14', 'Jun-14', 'May-07',
       'Sep-13', 'Feb-17', 'May-12', 'Jul-15', 'Jun-08', 'Mar-09',
       'Dec-06', 'Dec-10', 'Jan-10', 'Apr-08', 'Jul-11', 'Mar-11',
       'Jun-12', 'Nov-12', 'Dec-09', 'Jan-23', 'Feb-11', 'Nov-14',
       'Jan-12', 'Aug-22', 'Aug-15', 'Jul-12', 'Nov-11', 'Sep-09',
       'Jan-11', 'Feb-12', 'Apr-09', 'Apr-16', 'Jan-13', 'Mar-23',
       'Apr-14', 'Nov-22', 'Nov-16', 'May-22', 'Apr-20', 'Jul-23',
       'Nov-17', 'Apr-13', 'Sep-12', 'Jan-19', 'Dec-22', 'Jul-10',
       'Sep-15', 'May-10', 'Jul-06', 'Nov-08', 'Sep-14', 'Oct-10',
       'Dec-04', 'Oct-08', 'Apr-12', 'Oct-13', 'Jul-08', 'Apr-11',
       'Aug-11', 'Feb-02', 'Aug-05', 'Feb-08', 'May-06', 'Mar-10',
       'Feb-10', 'Aug-08', 'Mar-08', 'Jun-11', 'May-02', 'Aug-10',
       'Mar-13', 'Jan-08', 'Jul-07', 'Oct-12', 'Jun-09', 'Feb-07',
       'Sep-10', 'Jul-09', 'Dec-11', 'Aug-03', '2007', 'Mar-12', 'Apr-10',
       'Nov-10', 'Aug-12', 'Oct-09', 'Jan-05', 'May-09', 'Jun-10',
       'Aug-09', 'Jun-07', 'Jul-03', 'Mar-03', 'Jan-09', 'Aug-07',
       'Feb-23', 'Jun-23', 'Oct-07', '2005', 'Sep-11', 'May-23', 'Dec-03',
       '2002', 'Feb-09', 'Sep-08', 'Sep-23', 'Nov-06', 'Nov-09', 'Sep-05',
       'Aug-23', 'Dec-08', 'Apr-23', 'May-08', 'Jun-06', 'Jan-06',
       'Jun-02', 'Apr-04', 'Feb-04', 'Feb-03', 'Jul-04', 'Aug-06',
       'Apr-07', 'Feb-06', 'Nov-07', 'Jul-05'], dtype=object)

In [110]:
car["engine_capacity"].unique()

array(['1197 cc', '2179 cc', '1086 cc', '1047 cc', '1196 cc', '1198 cc',
       '1462 cc', '1493 cc', '1396 cc', '998 cc', '1496 cc', '1364 cc',
       '1498 cc', '2360 cc', '1248 cc', '796 cc', '1199 cc', '2494 cc',
       '1186 cc', '1968 cc', '999 cc', '1399 cc', '1956 cc', '814 cc',
       '1461 cc', '1061 cc', '995 cc', '1499 cc', '799 cc', '1120 cc',
       '1586 cc', '936 cc', '1353 cc', '1451 cc', '1497 cc', '1582 cc',
       '1368 cc', '2354 cc', '2184 cc', '1995 cc', '2499 cc', '0 cc',
       '1395 cc', '1998 cc', '1798 cc', '2143 cc', '2967 cc', '1796 cc',
       '2995 cc', '2894 cc', '1984 cc', '1298 cc', '2999 cc', '1950 cc',
       '2198 cc', '1799 cc', '1591 cc', '624 cc', '1598 cc', '1991 cc',
       '1172 cc', '2755 cc', '1373 cc', '1405 cc', '2982 cc', '1997 cc',
       '2498 cc', '1999 cc', '3198 cc', '909 cc', '1193 cc', '2609 cc',
       '2199 cc', '3498 cc', '2993 cc', '3604 cc', '2487 cc', '2998 cc',
       '2987 cc', '1996 cc', '1896 cc', '4663 cc', '2523 cc', '2393 cc',
       '4951 cc', '1495 cc', '1969 cc', '1797 cc', '993 cc', '1595 cc',
       '1597 cc', '1341 cc', '1242 cc', '2696 cc', '2925 cc', '2979 cc',
       '2996 cc', '4367 cc', '2477 cc', '4999 cc', '2835 cc', '1599 cc',
       '1468 cc', '2953 cc', '1150 cc', '2489 cc', '1332 cc', '2157 cc',
       '1794 cc', '2400 cc', '1948 cc', '1993 cc', '2362 cc', '2200 cc',
       '2956 cc', '1596 cc', '1390 cc', '1490 cc', nan, '5461 cc',
       '2112 cc', '1194 cc', '2596 cc', '2496 cc', '1349 cc', '1330 cc',
       '4134 cc', '2694 cc', '1482 cc', '2497 cc', '3471 cc', '2359 cc',
       '5000 cc', '2650 cc', '2231 cc', '2446 cc', '1985 cc', '2148 cc',
       '1781 cc', '1898 cc', '1299 cc', '1339 cc', '1389 cc', '72 cc',
       '1589 cc', '3597 cc', '1422 cc', '1108 cc', '2698 cc', '3200 cc',
       '4806 cc', '4395 cc', '2997 cc', '3982 cc', '5998 cc', '2147 cc',
       '1388 cc'], dtype=object)

In [111]:
car["insurance"].unique()

array(['Third Party insurance', 'Comprehensive', 'Zero Dep',
       'Third Party', 'Not Available', nan, '2', '1'], dtype=object)

In [112]:
car["kms_driven"].unique()

array(['40,000 Kms', '70,000 Kms', '80,000 Kms', ..., '1,20,178 Kms',
       '800 Kms', '67,634 Kms'], dtype=object)

In [113]:
car["fuel_type"].unique()

array(['Petrol', 'Diesel', 'CNG', 'Electric', 'LPG'], dtype=object)

In [114]:
car["owner_type"].unique()

array(['First Owner', 'Second Owner', 'Third Owner', 'Fifth Owner',
       'Fourth Owner', nan], dtype=object)

In [115]:
car['owner_type'].unique()

array(['First Owner', 'Second Owner', 'Third Owner', 'Fifth Owner',
       'Fourth Owner', nan], dtype=object)

In [116]:
car["seats"].unique()

array([ 5.,  7.,  8.,  6.,  4.,  9.,  2., nan, 10., 14.])

In [117]:
car["seats"].value_counts()

5.0     15326
7.0      1511
4.0       205
6.0       194
8.0       160
9.0        24
2.0        11
10.0        4
14.0        1
Name: seats, dtype: int64

In [118]:
car["mileage"].unique()

array(['21.4 kmpl', '17.6 kmpl', '20.85 kmpl', '19.81 kmpl', '17.19 kmpl',
       '27.28 kmpl', '15.37 kmpl', nan, '18 kmpl', '20.14 kmpl',
       '21.56 kmpl', '23.7 kmpl', '23.95 kmpl', '26.6 kmpl', '21.43 kmpl',
       '18.2 kmpl', '20.65 kmpl', '22.7 kmpl', '11.3 kmpl', '26.59 kmpl',
       '20.92 kmpl', '21.01 kmpl', '22.74 kmpl', '20.51 kmpl',
       '18.9 kmpl', '22.9 kmpl', '15.1 kmpl', '11.57 kmpl', '23.84 kmpl',
       '24.3 kmpl', '25.47 kmpl', '25.24 kmpl', '22.1 kmpl', '22.05 kmpl',
       '11.4 kmpl', '12.8 kmpl', '18.8 kmpl', '24 kmpl', '21.94 km/kg',
       '16.55 kmpl', '21 kmpl', '22.07 kmpl', '17.92 kmpl', '20.36 kmpl',
       '17.52 kmpl', '18.97 kmpl', '20 kmpl', '16.56 kmpl', '21.1 kmpl',
       '20.09 kmpl', '23.59 kmpl', '19.87 kmpl', '16 kmpl', '20.8 kmpl',
       '28.4 kmpl', '21.79 kmpl', '20.45 kmpl', '24.4 kmpl', '27.3 kmpl',
       '22.41 kmpl', '25.6 kmpl', '26.2 kmpl', '25.17 kmpl', '15.5 kmpl',
       '21.21 kmpl', '15.4 kmpl', '25.8 kmpl', '23.4 kmpl', '26 kmpl',
       '17.33 kmpl', '25.2 kmpl', '19.44 kmpl', '25.44 kmpl',
       '25.83 kmpl', '20.52 kmpl', '16.5 kmpl', '16.2 kmpl', '13.96 kmpl',
       '17 kmpl', '19.4 kmpl', '21.8 kmpl', '17.1 kmpl', '20.88 km/kg',
       '19.01 kmpl', '22.54 kmpl', '19.67 kmpl', '17.8 kmpl',
       '24.04 kmpl', '18.6 kmpl', '14.1 kmpl', '27.4 kmpl', '25.32 kmpl',
       '18.75 kmpl', '21.19 kmpl', '15.43 kmpl', '20.77 kmpl',
       '15.73 kmpl', '18.5 kmpl', '10.1 kmpl', '20.86 kmpl', '15.2 kmpl',
       '19 kmpl', '22 kmpl', '18.76 kmpl', '13.2 kmpl', '16.6 kmpl',
       '14.8 kmpl', '23 kmpl', '22.32 kmpl', '16.9 kmpl', '14.28 kmpl',
       '15.26 kmpl', '18.25 kmpl', '17.84 kmpl', '13 kmpl', '12.07 kmpl',
       '11.74 kmpl', '19.2 kmpl', '9.8 kmpl', '15.17 kmpl', '8.8 kmpl',
       '17.01 kmpl', '18.53 kmpl', '15.64 kmpl', '14.11 kmpl',
       '20.38 kmpl', '24.39 kmpl', '23.1 kmpl', '17.5 kmpl', '24.52 kmpl',
       '26.49 kmpl', '30.46 kmpl', '19.03 kmpl', '22.77 kmpl',
       '17.9 kmpl', '24.7 kmpl', '21.63 kmpl', '19.5 kmpl', '17.03 kmpl',
       '21.72 kmpl', '33.44 kmpl', '20.5 kmpl', '25.4 kmpl', '20.89 kmpl',
       '20.1 kmpl', '22.38 kmpl', '12.99 kmpl', '24.8 kmpl', '19.6 kmpl',
       '21.7 kmpl', '15.7 kmpl', '18.49 kmpl', '20.68 kmpl', '13.24 kmpl',
       '19.47 kmpl', '22.25 kmpl', '34.05 kmpl', '25 kmpl', '23.01 kmpl',
       '16.8 kmpl', '30.48 km/kg', '12.9 kmpl', '23.2 kmpl', '26.68 kmpl',
       '20.7 kmpl', '20.73 kmpl', '14.94 kmpl', '27.39 kmpl', '25.5 kmpl',
       '21.66 kmpl', '17.3 kmpl', '27 kmpl', '23.22 kmpl', '11.88 kmpl',
       '32.52 kmpl', '25.1 kmpl', '19.61 kmpl', '22.35 kmpl',
       '12.55 kmpl', '17.57 kmpl', '15.04 kmpl', '18.55 kmpl',
       '26.8 kmpl', '19.33 kmpl', '17.4 kmpl', '28.09 kmpl', '18.27 kmpl',
       '16.11 kmpl', '21.14 kmpl', '23.57 kmpl', '14.2 kmpl',
       '21.13 kmpl', '20.28 kmpl', '18.1 kmpl', '18.88 kmpl',
       '12.05 kmpl', '19.7 kmpl', '23.65 kmpl', '15.8 kmpl', '21.5 kmpl',
       '10.91 kmpl', '28 km/kg', '17.29 kmpl', '20.3 kmpl', '15.6 kmpl',
       '13.7 kmpl', '25.35 kmpl', '18.06 kmpl', '31.59 km/kg',
       '22.56 kmpl', '18.15 kmpl', '23.64 kmpl', '17.41 kmpl',
       '18.7 kmpl', '14.4 kmpl', '13.87 kmpl', '20.27 kmpl', '26.55 kmpl',
       '16.1 kmpl', '16.47 kmpl', '23.5 kmpl', '24.97 kmpl',
       '26.49 km/kg', '19.3 kmpl', '21.04 kmpl', '21.64 kmpl', '14 kmpl',
       '12.7 kmpl', '13.93 kmpl', '21.38 kmpl', '12.98 kmpl',
       '19.17 kmpl', '22.95 kmpl', '13.5 kmpl', '13.45 kmpl',
       '26.82 kmpl', '18.16 kmpl', '19.98 kmpl', '11.5 kmpl',
       '14.66 kmpl', '19.1 kmpl', '16.13 kmpl', '17.42 kmpl', '9.26 kmpl',
       '12.83 kmpl', '15.56 kmpl', '20.37 kmpl', '17.05 kmpl',
       '12.6 kmpl', '15.34 kmpl', '9.5 kmpl', '9.17 kmpl', '24.07 kmpl',
       '26.21 kmpl', '22.48 kmpl', '13.38 kmpl', '14.75 kmpl',
       '19.56 kmpl', '15.81 kmpl', '16.38 kmpl', '11 kmpl', '12.04 kmpl',
       '12 kmpl', '17.67 kmpl', '7.81 kmpl', '12.4 kmpl', '17.7 kmpl',
       '19.65 kmpl', '16.24 kmpl', '22.71 kmpl', '17.68 kmpl',
       '15.96 kmpl', '16.82 kmpl', '15 kmpl', '14.59 kmpl', '14.82 kmpl',
       '19.28 kmpl', '14.08 kmpl', '31.12 kmpl', '17.09 kmpl',
       '20.04 kmpl', '14.74 kmpl', '18.45 kmpl', '12.62 kmpl',
       '16.36 kmpl', '10.8 kmpl', '17.74 kmpl', '19.49 kmpl',
       '20.63 kmpl', '32.26 kmpl', '16.3 kmpl', '17.72 kmpl',
       '18.24 kmpl', '11.36 kmpl', '18.4 kmpl', '14.99 kmpl',
       '22.15 kmpl', '20.34 kmpl', '20.54 kmpl', '18.3 kmpl',
       '16.09 kmpl', '11.9 kmpl', '21.74 kmpl', '16.42 kmpl', '14.6 kmpl',
       '20.4 kmpl', '11.67 kmpl', '14.3 kmpl', '16.02 kmpl', '16.35 kmpl',
       '11.18 kmpl', '16.95 kmpl', '22.61 kmpl', '13.4 kmpl',
       '19.34 kmpl', '18.12 kmpl', '19.16 kmpl', '12.74 kmpl',
       '16.34 kmpl', '13.9 kmpl', '15.01 kmpl', '12.81 kmpl',
       '15.68 kmpl', '23.9 kmpl', '8.13 kmpl', '11.7 kmpl', '8.9 kmpl',
       '11.49 kmpl', '13.17 kmpl', '18.56 kmpl', '15.97 kmpl',
       '16.77 kmpl', '15.3 kmpl', '10.54 kmpl', '22.8 kmpl', '14.16 kmpl',
       '10.5 kmpl', '19.02 kmpl', '17.21 kmpl', '22.5 kmpl', '16.14 kmpl',
       '21.02 kmpl', '15.85 kmpl', '31.2 kmpl', '19.68 kmpl',
       '15.63 kmpl', '16.98 kmpl', '20.08 kmpl', '22.3 kmpl', '11.1 kmpl',
       '17.71 kmpl', '35.6 km/kg', '33 kmpl', '18.78 kmpl', '13.01 kmpl',
       '13.1 kmpl', '21.9 kmpl', '13.6 kmpl', '14.7 kmpl', '14.53 kmpl',
       '10.9 kmpl', '23.08 kmpl', '21.27 kmpl', '16.94 kmpl',
       '17.69 kmpl', '8 kmpl', '21.46 kmpl', '19.59 kmpl', '19.08 kmpl',
       '13.68 kmpl', '17.32 kmpl', '16.73 kmpl', '14.47 kmpl',
       '23.03 kmpl', '16.78 kmpl', '21.1 km/kg', '19.27 kmpl',
       '21.76 kmpl', '12.2 kmpl', '17.43 kmpl', '15.29 kmpl',
       '19.15 kmpl', '20.71 kmpl', '20.97 kmpl', '20.62 kmpl',
       '14.62 kmpl', '19.8 kmpl', '20.15 kmpl', '18.23 kmpl',
       '19.69 kmpl', '19.12 kmpl', '12.1 kmpl', '15.41 kmpl',
       '11.24 kmpl', '19.64 kmpl', '10.71 kmpl', '14.07 kmpl',
       '24.2 kmpl', '19.09 kmpl', '23.87 kmpl', '17.14 kmpl', '15.9 kmpl',
       '11.2 kmpl', '24.76 kmpl', '14.95 kmpl', '18.64 kmpl',
       '22.69 kmpl', '18.41 kmpl', '12.18 kmpl', '9.4 kmpl', '14.67 kmpl',
       '18.19 kmpl', '24.35 kmpl', '14.69 kmpl', '16.07 kmpl',
       '25.01 kmpl', '14.84 kmpl', '16.46 kmpl', '14.9 kmpl',
       '27.97 kmpl', '14.24 kmpl', '19.71 kmpl', '11.78 kmpl', '110 kmpl',
       '10.93 kmpl', '14.49 kmpl', '14.5 kmpl', '16.7 kmpl', '10.2 kmpl',
       '11.81 kmpl', '15.15 kmpl', '14.21 kmpl', '9.52 kmpl',
       '17.36 kmpl', '26.55 km/kg', '19.83 kmpl', '26.83 kmpl',
       '17.88 kmpl', '14.23 kmpl', '12.35 kmpl', '23.56 kmpl',
       '9.74 kmpl', '21.3 kmpl', '16.96 kmpl', '12.95 kmpl', '17.99 kmpl',
       '11.07 kmpl', '26.78 km/kg', '18.84 kmpl', '16.25 kmpl',
       '27.03 kmpl', '26.32 kmpl', '16.39 kmpl', '14.34 kmpl', '9 kmpl',
       '15.16 kmpl', '25.19 kmpl', '12.63 kmpl', '10 kmpl', '18.07 kmpl',
       '16.65 kmpl', '18.42 kmpl', '13.14 kmpl', '17.2 kmpl',
       '20.58 kmpl', '19.39 kmpl', '11.33 kmpl', '23.8 kmpl',
       '14.19 kmpl', '10.6 kmpl', '18.43 kmpl', '20.25 kmpl',
       '18.05 kmpl', '22.94 kmpl', '8.5 kmpl', '19.23 kmpl', '17.11 kmpl',
       '14.85 kmpl', '19.72 kmpl', '19.62 kmpl', '17.97 kmpl',
       '14.72 kmpl', '12.78 kmpl', '18.48 kmpl', '22.37 kmpl',
       '21.58 kmpl', '18.67 kmpl', '13.8 kmpl', '21.73 kmpl', '11.8 kmpl',
       '13.73 kmpl', '26.08 km/kg', '21.49 kmpl', '31.79 kmpl',
       '26.11 kmpl', '18.51 kmpl', '20.64 kmpl', '26.1 kmpl',
       '18.69 kmpl', '30.47 km/kg', '19.89 kmpl', '10.7 kmpl',
       '18.33 kmpl', '16.51 kmpl', '33.54 kmpl', '21.12 kmpl',
       '14.83 kmpl', '18.86 kmpl', '17.66 kmpl', '9.6 kmpl', '16.93 kmpl',
       '13.44 kmpl', '17.24 kmpl', '15.74 kmpl', '12.65 kmpl',
       '26.3 kmpl', '36 kmpl', '26.11 km/kg', '18.47 kmpl', '18.44 kmpl',
       '15.11 kmpl', '8.45 kmpl', '23.3 kmpl', '6.7 kmpl', '12.3 kmpl',
       '24.29 kmpl', '19.95 kmpl', '24.1 kmpl', '26.5 kmpl', '12.12 kmpl',
       '15.38 kmpl', '20.46 kmpl', '120 kmpl', '25.3 kmpl', '11.96 kmpl',
       '12.51 kmpl', '13.04 kmpl', '14.81 kmpl', '10.26 kmpl',
       '17.85 kmpl', '8.7 kmpl', '18.9 km/kg', '13.49 kmpl', '26.6 km/kg',
       '18.09 kmpl', '13.32 kmpl', '14.41 kmpl', '13.79 kmpl',
       '13.58 kmpl', '140 kmpl', '13.06 kmpl', '14.025 kmpl',
       '12.19 kmpl', '16.72 kmpl', '14.71 kmpl', '19.05 kmpl',
       '11.86 kmpl', '17.54 kmpl', '12.5 kmpl', '11.79 kmpl', '24.5 kmpl',
       '14.38 kmpl', '12.28 kmpl', '11.25 kmpl', '10.98 kmpl',
       '14.02 kmpl', '24.43 kmpl', '16.05 kmpl', '22.27 kmpl',
       '13.03 kmpl', '10.75 kmpl', '13.05 kmpl', '12.33 kmpl',
       '17.45 kmpl', '7.08 kmpl', '16.12 kmpl', '16.4 kmpl', '12.97 kmpl',
       '13.22 kmpl', '8.6 kmpl', '9.43 kmpl', '14.01 kmpl', '9.2 kmpl',
       '13.33 kmpl', '33.85 km/kg', '13.47 kmpl', '16.28 kmpl',
       '18.32 kmpl'], dtype=object)

In [119]:
car["mileage"].unique()

array(['21.4 kmpl', '17.6 kmpl', '20.85 kmpl', '19.81 kmpl', '17.19 kmpl',
       '27.28 kmpl', '15.37 kmpl', nan, '18 kmpl', '20.14 kmpl',
       '21.56 kmpl', '23.7 kmpl', '23.95 kmpl', '26.6 kmpl', '21.43 kmpl',
       '18.2 kmpl', '20.65 kmpl', '22.7 kmpl', '11.3 kmpl', '26.59 kmpl',
       '20.92 kmpl', '21.01 kmpl', '22.74 kmpl', '20.51 kmpl',
       '18.9 kmpl', '22.9 kmpl', '15.1 kmpl', '11.57 kmpl', '23.84 kmpl',
       '24.3 kmpl', '25.47 kmpl', '25.24 kmpl', '22.1 kmpl', '22.05 kmpl',
       '11.4 kmpl', '12.8 kmpl', '18.8 kmpl', '24 kmpl', '21.94 km/kg',
       '16.55 kmpl', '21 kmpl', '22.07 kmpl', '17.92 kmpl', '20.36 kmpl',
       '17.52 kmpl', '18.97 kmpl', '20 kmpl', '16.56 kmpl', '21.1 kmpl',
       '20.09 kmpl', '23.59 kmpl', '19.87 kmpl', '16 kmpl', '20.8 kmpl',
       '28.4 kmpl', '21.79 kmpl', '20.45 kmpl', '24.4 kmpl', '27.3 kmpl',
       '22.41 kmpl', '25.6 kmpl', '26.2 kmpl', '25.17 kmpl', '15.5 kmpl',
       '21.21 kmpl', '15.4 kmpl', '25.8 kmpl', '23.4 kmpl', '26 kmpl',
       '17.33 kmpl', '25.2 kmpl', '19.44 kmpl', '25.44 kmpl',
       '25.83 kmpl', '20.52 kmpl', '16.5 kmpl', '16.2 kmpl', '13.96 kmpl',
       '17 kmpl', '19.4 kmpl', '21.8 kmpl', '17.1 kmpl', '20.88 km/kg',
       '19.01 kmpl', '22.54 kmpl', '19.67 kmpl', '17.8 kmpl',
       '24.04 kmpl', '18.6 kmpl', '14.1 kmpl', '27.4 kmpl', '25.32 kmpl',
       '18.75 kmpl', '21.19 kmpl', '15.43 kmpl', '20.77 kmpl',
       '15.73 kmpl', '18.5 kmpl', '10.1 kmpl', '20.86 kmpl', '15.2 kmpl',
       '19 kmpl', '22 kmpl', '18.76 kmpl', '13.2 kmpl', '16.6 kmpl',
       '14.8 kmpl', '23 kmpl', '22.32 kmpl', '16.9 kmpl', '14.28 kmpl',
       '15.26 kmpl', '18.25 kmpl', '17.84 kmpl', '13 kmpl', '12.07 kmpl',
       '11.74 kmpl', '19.2 kmpl', '9.8 kmpl', '15.17 kmpl', '8.8 kmpl',
       '17.01 kmpl', '18.53 kmpl', '15.64 kmpl', '14.11 kmpl',
       '20.38 kmpl', '24.39 kmpl', '23.1 kmpl', '17.5 kmpl', '24.52 kmpl',
       '26.49 kmpl', '30.46 kmpl', '19.03 kmpl', '22.77 kmpl',
       '17.9 kmpl', '24.7 kmpl', '21.63 kmpl', '19.5 kmpl', '17.03 kmpl',
       '21.72 kmpl', '33.44 kmpl', '20.5 kmpl', '25.4 kmpl', '20.89 kmpl',
       '20.1 kmpl', '22.38 kmpl', '12.99 kmpl', '24.8 kmpl', '19.6 kmpl',
       '21.7 kmpl', '15.7 kmpl', '18.49 kmpl', '20.68 kmpl', '13.24 kmpl',
       '19.47 kmpl', '22.25 kmpl', '34.05 kmpl', '25 kmpl', '23.01 kmpl',
       '16.8 kmpl', '30.48 km/kg', '12.9 kmpl', '23.2 kmpl', '26.68 kmpl',
       '20.7 kmpl', '20.73 kmpl', '14.94 kmpl', '27.39 kmpl', '25.5 kmpl',
       '21.66 kmpl', '17.3 kmpl', '27 kmpl', '23.22 kmpl', '11.88 kmpl',
       '32.52 kmpl', '25.1 kmpl', '19.61 kmpl', '22.35 kmpl',
       '12.55 kmpl', '17.57 kmpl', '15.04 kmpl', '18.55 kmpl',
       '26.8 kmpl', '19.33 kmpl', '17.4 kmpl', '28.09 kmpl', '18.27 kmpl',
       '16.11 kmpl', '21.14 kmpl', '23.57 kmpl', '14.2 kmpl',
       '21.13 kmpl', '20.28 kmpl', '18.1 kmpl', '18.88 kmpl',
       '12.05 kmpl', '19.7 kmpl', '23.65 kmpl', '15.8 kmpl', '21.5 kmpl',
       '10.91 kmpl', '28 km/kg', '17.29 kmpl', '20.3 kmpl', '15.6 kmpl',
       '13.7 kmpl', '25.35 kmpl', '18.06 kmpl', '31.59 km/kg',
       '22.56 kmpl', '18.15 kmpl', '23.64 kmpl', '17.41 kmpl',
       '18.7 kmpl', '14.4 kmpl', '13.87 kmpl', '20.27 kmpl', '26.55 kmpl',
       '16.1 kmpl', '16.47 kmpl', '23.5 kmpl', '24.97 kmpl',
       '26.49 km/kg', '19.3 kmpl', '21.04 kmpl', '21.64 kmpl', '14 kmpl',
       '12.7 kmpl', '13.93 kmpl', '21.38 kmpl', '12.98 kmpl',
       '19.17 kmpl', '22.95 kmpl', '13.5 kmpl', '13.45 kmpl',
       '26.82 kmpl', '18.16 kmpl', '19.98 kmpl', '11.5 kmpl',
       '14.66 kmpl', '19.1 kmpl', '16.13 kmpl', '17.42 kmpl', '9.26 kmpl',
       '12.83 kmpl', '15.56 kmpl', '20.37 kmpl', '17.05 kmpl',
       '12.6 kmpl', '15.34 kmpl', '9.5 kmpl', '9.17 kmpl', '24.07 kmpl',
       '26.21 kmpl', '22.48 kmpl', '13.38 kmpl', '14.75 kmpl',
       '19.56 kmpl', '15.81 kmpl', '16.38 kmpl', '11 kmpl', '12.04 kmpl',
       '12 kmpl', '17.67 kmpl', '7.81 kmpl', '12.4 kmpl', '17.7 kmpl',
       '19.65 kmpl', '16.24 kmpl', '22.71 kmpl', '17.68 kmpl',
       '15.96 kmpl', '16.82 kmpl', '15 kmpl', '14.59 kmpl', '14.82 kmpl',
       '19.28 kmpl', '14.08 kmpl', '31.12 kmpl', '17.09 kmpl',
       '20.04 kmpl', '14.74 kmpl', '18.45 kmpl', '12.62 kmpl',
       '16.36 kmpl', '10.8 kmpl', '17.74 kmpl', '19.49 kmpl',
       '20.63 kmpl', '32.26 kmpl', '16.3 kmpl', '17.72 kmpl',
       '18.24 kmpl', '11.36 kmpl', '18.4 kmpl', '14.99 kmpl',
       '22.15 kmpl', '20.34 kmpl', '20.54 kmpl', '18.3 kmpl',
       '16.09 kmpl', '11.9 kmpl', '21.74 kmpl', '16.42 kmpl', '14.6 kmpl',
       '20.4 kmpl', '11.67 kmpl', '14.3 kmpl', '16.02 kmpl', '16.35 kmpl',
       '11.18 kmpl', '16.95 kmpl', '22.61 kmpl', '13.4 kmpl',
       '19.34 kmpl', '18.12 kmpl', '19.16 kmpl', '12.74 kmpl',
       '16.34 kmpl', '13.9 kmpl', '15.01 kmpl', '12.81 kmpl',
       '15.68 kmpl', '23.9 kmpl', '8.13 kmpl', '11.7 kmpl', '8.9 kmpl',
       '11.49 kmpl', '13.17 kmpl', '18.56 kmpl', '15.97 kmpl',
       '16.77 kmpl', '15.3 kmpl', '10.54 kmpl', '22.8 kmpl', '14.16 kmpl',
       '10.5 kmpl', '19.02 kmpl', '17.21 kmpl', '22.5 kmpl', '16.14 kmpl',
       '21.02 kmpl', '15.85 kmpl', '31.2 kmpl', '19.68 kmpl',
       '15.63 kmpl', '16.98 kmpl', '20.08 kmpl', '22.3 kmpl', '11.1 kmpl',
       '17.71 kmpl', '35.6 km/kg', '33 kmpl', '18.78 kmpl', '13.01 kmpl',
       '13.1 kmpl', '21.9 kmpl', '13.6 kmpl', '14.7 kmpl', '14.53 kmpl',
       '10.9 kmpl', '23.08 kmpl', '21.27 kmpl', '16.94 kmpl',
       '17.69 kmpl', '8 kmpl', '21.46 kmpl', '19.59 kmpl', '19.08 kmpl',
       '13.68 kmpl', '17.32 kmpl', '16.73 kmpl', '14.47 kmpl',
       '23.03 kmpl', '16.78 kmpl', '21.1 km/kg', '19.27 kmpl',
       '21.76 kmpl', '12.2 kmpl', '17.43 kmpl', '15.29 kmpl',
       '19.15 kmpl', '20.71 kmpl', '20.97 kmpl', '20.62 kmpl',
       '14.62 kmpl', '19.8 kmpl', '20.15 kmpl', '18.23 kmpl',
       '19.69 kmpl', '19.12 kmpl', '12.1 kmpl', '15.41 kmpl',
       '11.24 kmpl', '19.64 kmpl', '10.71 kmpl', '14.07 kmpl',
       '24.2 kmpl', '19.09 kmpl', '23.87 kmpl', '17.14 kmpl', '15.9 kmpl',
       '11.2 kmpl', '24.76 kmpl', '14.95 kmpl', '18.64 kmpl',
       '22.69 kmpl', '18.41 kmpl', '12.18 kmpl', '9.4 kmpl', '14.67 kmpl',
       '18.19 kmpl', '24.35 kmpl', '14.69 kmpl', '16.07 kmpl',
       '25.01 kmpl', '14.84 kmpl', '16.46 kmpl', '14.9 kmpl',
       '27.97 kmpl', '14.24 kmpl', '19.71 kmpl', '11.78 kmpl', '110 kmpl',
       '10.93 kmpl', '14.49 kmpl', '14.5 kmpl', '16.7 kmpl', '10.2 kmpl',
       '11.81 kmpl', '15.15 kmpl', '14.21 kmpl', '9.52 kmpl',
       '17.36 kmpl', '26.55 km/kg', '19.83 kmpl', '26.83 kmpl',
       '17.88 kmpl', '14.23 kmpl', '12.35 kmpl', '23.56 kmpl',
       '9.74 kmpl', '21.3 kmpl', '16.96 kmpl', '12.95 kmpl', '17.99 kmpl',
       '11.07 kmpl', '26.78 km/kg', '18.84 kmpl', '16.25 kmpl',
       '27.03 kmpl', '26.32 kmpl', '16.39 kmpl', '14.34 kmpl', '9 kmpl',
       '15.16 kmpl', '25.19 kmpl', '12.63 kmpl', '10 kmpl', '18.07 kmpl',
       '16.65 kmpl', '18.42 kmpl', '13.14 kmpl', '17.2 kmpl',
       '20.58 kmpl', '19.39 kmpl', '11.33 kmpl', '23.8 kmpl',
       '14.19 kmpl', '10.6 kmpl', '18.43 kmpl', '20.25 kmpl',
       '18.05 kmpl', '22.94 kmpl', '8.5 kmpl', '19.23 kmpl', '17.11 kmpl',
       '14.85 kmpl', '19.72 kmpl', '19.62 kmpl', '17.97 kmpl',
       '14.72 kmpl', '12.78 kmpl', '18.48 kmpl', '22.37 kmpl',
       '21.58 kmpl', '18.67 kmpl', '13.8 kmpl', '21.73 kmpl', '11.8 kmpl',
       '13.73 kmpl', '26.08 km/kg', '21.49 kmpl', '31.79 kmpl',
       '26.11 kmpl', '18.51 kmpl', '20.64 kmpl', '26.1 kmpl',
       '18.69 kmpl', '30.47 km/kg', '19.89 kmpl', '10.7 kmpl',
       '18.33 kmpl', '16.51 kmpl', '33.54 kmpl', '21.12 kmpl',
       '14.83 kmpl', '18.86 kmpl', '17.66 kmpl', '9.6 kmpl', '16.93 kmpl',
       '13.44 kmpl', '17.24 kmpl', '15.74 kmpl', '12.65 kmpl',
       '26.3 kmpl', '36 kmpl', '26.11 km/kg', '18.47 kmpl', '18.44 kmpl',
       '15.11 kmpl', '8.45 kmpl', '23.3 kmpl', '6.7 kmpl', '12.3 kmpl',
       '24.29 kmpl', '19.95 kmpl', '24.1 kmpl', '26.5 kmpl', '12.12 kmpl',
       '15.38 kmpl', '20.46 kmpl', '120 kmpl', '25.3 kmpl', '11.96 kmpl',
       '12.51 kmpl', '13.04 kmpl', '14.81 kmpl', '10.26 kmpl',
       '17.85 kmpl', '8.7 kmpl', '18.9 km/kg', '13.49 kmpl', '26.6 km/kg',
       '18.09 kmpl', '13.32 kmpl', '14.41 kmpl', '13.79 kmpl',
       '13.58 kmpl', '140 kmpl', '13.06 kmpl', '14.025 kmpl',
       '12.19 kmpl', '16.72 kmpl', '14.71 kmpl', '19.05 kmpl',
       '11.86 kmpl', '17.54 kmpl', '12.5 kmpl', '11.79 kmpl', '24.5 kmpl',
       '14.38 kmpl', '12.28 kmpl', '11.25 kmpl', '10.98 kmpl',
       '14.02 kmpl', '24.43 kmpl', '16.05 kmpl', '22.27 kmpl',
       '13.03 kmpl', '10.75 kmpl', '13.05 kmpl', '12.33 kmpl',
       '17.45 kmpl', '7.08 kmpl', '16.12 kmpl', '16.4 kmpl', '12.97 kmpl',
       '13.22 kmpl', '8.6 kmpl', '9.43 kmpl', '14.01 kmpl', '9.2 kmpl',
       '13.33 kmpl', '33.85 km/kg', '13.47 kmpl', '16.28 kmpl',
       '18.32 kmpl'], dtype=object)

In [120]:
car["body_type"].unique()

array(['Hatchback', 'MUV', 'Sedan', 'Minivans', 'SUV', 'Toyota', 'Coupe',
       'Chevrolet', 'Mercedes-Benz', 'Audi', 'Maruti', 'Pickup',
       'Porsche', 'Tata', 'Mahindra', 'Volvo', 'Jaguar', 'BMW', 'Cars',
       'Datsun', 'Hyundai', 'Honda', 'Convertibles', 'Wagon', 'Skoda',
       'Isuzu'], dtype=object)

In [121]:
car["body_type"].value_counts()

Hatchback        7343
Sedan            4781
SUV              4406
MUV               759
Minivans           65
Maruti             19
Pickup             13
Coupe              10
Cars                8
Tata                7
Mercedes-Benz       6
Mahindra            4
Chevrolet           3
Jaguar              3
Wagon               3
BMW                 2
Toyota              2
Datsun              2
Honda               2
Convertibles        2
Audi                1
Porsche             1
Volvo               1
Hyundai             1
Skoda               1
Isuzu               1
Name: body_type, dtype: int64

In [122]:
car['city'].unique()

array(['Agra', 'Gurgaon', 'Lucknow', 'Delhi', 'Chandigarh', 'Bangalore',
       'Jaipur', 'Kolkata', 'Ahmedabad', 'Chennai', 'Pune', 'Mumbai',
       'Hyderabad'], dtype=object)

In [123]:
car['city'].value_counts()

Delhi         3036
Bangalore     2334
Mumbai        2109
Hyderabad     1584
Pune          1394
Chennai       1344
Ahmedabad     1330
Kolkata       1181
Gurgaon       1043
Jaipur         897
Lucknow        551
Chandigarh     437
Agra           206
Name: city, dtype: int64

## Step - 2 Data Cleaning

**Column 3 - engine_capacity**

In [124]:
car["engine_capacity"] = car["engine_capacity"].str.removesuffix("cc")
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,₹ 3.25 Lakh,Jul-13,1198,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,₹ 20.75 Lakh,Jun-16,2494,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,₹ 8.35 Lakh,Jun-16,1798,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,₹ 13.95 Lakh,Jun-19,1582,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,₹ 6.50 Lakh,Jun-17,1248,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

**Treating missing values**

We can drop all missing values because we didnot know how to fill it.

In [125]:
car.dropna(subset  = ['registered_year','insurance','kms_driven','owner_type','max_power','mileage','seats','engine_capacity'], axis = 0 , inplace = True)

In [126]:
car.isna().sum()

full_name            0
resale_price         0
registered_year      0
engine_capacity      0
insurance            0
transmission_type    0
kms_driven           0
owner_type           0
fuel_type            0
max_power            0
seats                0
mileage              0
body_type            0
city                 0
dtype: int64

In [127]:
car["engine_capacity"] = car["engine_capacity"].astype(int)

**Column 4 - insurance**

In [128]:
car["insurance"] =car["insurance"].str.replace("1","First Party")
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,₹ 3.25 Lakh,Jul-13,1198,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,₹ 20.75 Lakh,Jun-16,2494,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,₹ 8.35 Lakh,Jun-16,1798,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,₹ 13.95 Lakh,Jun-19,1582,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,₹ 6.50 Lakh,Jun-17,1248,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

In [129]:
car["insurance"] =car["insurance"].str.replace("2","Second Party")

In [130]:
car["insurance"] =car["insurance"].str.replace("Third Party insurance","Third Party")

In [131]:
car.isna().sum()

full_name            0
resale_price         0
registered_year      0
engine_capacity      0
insurance            0
transmission_type    0
kms_driven           0
owner_type           0
fuel_type            0
max_power            0
seats                0
mileage              0
body_type            0
city                 0
dtype: int64

**Column 6 - kms_driven**

In [132]:
car["kms_driven"] =car["kms_driven"].str.removesuffix("Kms")
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197,Third Party,Manual,"40,000",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179,Third Party,Automatic,"70,000",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party,Manual,"70,000",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party,Manual,"70,000",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086,Third Party,Manual,"80,000",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,₹ 3.25 Lakh,Jul-13,1198,Comprehensive,Manual,"89,000",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,₹ 20.75 Lakh,Jun-16,2494,Comprehensive,Automatic,"68,000",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,₹ 8.35 Lakh,Jun-16,1798,Comprehensive,Manual,"81,000",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,₹ 13.95 Lakh,Jun-19,1582,Comprehensive,Automatic,"20,000",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,₹ 6.50 Lakh,Jun-17,1248,Comprehensive,Manual,"32,000",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

In [133]:
car["kms_driven"] =car["kms_driven"].str.replace(",","")
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179,Third Party,Automatic,70000,First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086,Third Party,Manual,80000,First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,₹ 3.25 Lakh,Jul-13,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,₹ 20.75 Lakh,Jun-16,2494,Comprehensive,Automatic,68000,First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,₹ 8.35 Lakh,Jun-16,1798,Comprehensive,Manual,81000,First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,₹ 13.95 Lakh,Jun-19,1582,Comprehensive,Automatic,20000,First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,₹ 6.50 Lakh,Jun-17,1248,Comprehensive,Manual,32000,First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

In [134]:
car["kms_driven"] =car["kms_driven"].astype(int)
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179,Third Party,Automatic,70000,First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086,Third Party,Manual,80000,First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,₹ 3.25 Lakh,Jul-13,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,₹ 20.75 Lakh,Jun-16,2494,Comprehensive,Automatic,68000,First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,₹ 8.35 Lakh,Jun-16,1798,Comprehensive,Manual,81000,First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,₹ 13.95 Lakh,Jun-19,1582,Comprehensive,Automatic,20000,First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,₹ 6.50 Lakh,Jun-17,1248,Comprehensive,Manual,32000,First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

**Column 9 - seats**

In [135]:
car.dropna(subset  = ["seats"], axis = 0 , inplace = True)
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179,Third Party,Automatic,70000,First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086,Third Party,Manual,80000,First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,₹ 3.25 Lakh,Jul-13,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,₹ 20.75 Lakh,Jun-16,2494,Comprehensive,Automatic,68000,First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,₹ 8.35 Lakh,Jun-16,1798,Comprehensive,Manual,81000,First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,₹ 13.95 Lakh,Jun-19,1582,Comprehensive,Automatic,20000,First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,₹ 6.50 Lakh,Jun-17,1248,Comprehensive,Manual,32000,First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

In [136]:
car["seats"] = car["seats"].astype(int)

**Column 10 - mileage**

In [137]:
car["mileage"] = car["mileage"].str.removesuffix("kmpl")
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83.1bhp,5,21.4,Hatchback,Agra
1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179,Third Party,Automatic,70000,First Owner,Diesel,153.86bhp,7,17.6,MUV,Agra
2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086,Third Party,Manual,80000,First Owner,Petrol,68.05bhp,5,19.81,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,₹ 3.25 Lakh,Jul-13,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86.7bhp,5,18,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,₹ 20.75 Lakh,Jun-16,2494,Comprehensive,Automatic,68000,First Owner,Petrol,157.7bhp,5,19.16,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,₹ 8.35 Lakh,Jun-16,1798,Comprehensive,Manual,81000,First Owner,Petrol,138.03bhp,5,14.28,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,₹ 13.95 Lakh,Jun-19,1582,Comprehensive,Automatic,20000,First Owner,Diesel,126.2bhp,5,17.01,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,₹ 6.50 Lakh,Jun-17,1248,Comprehensive,Manual,32000,First Owner,Diesel,73.9bhp,5,19.3,Sedan,Delhi

In [138]:
car["mileage"] = car["mileage"].str.removesuffix("km/kg")

In [139]:
car["mileage"] = car["mileage"].astype(float)

In [140]:
car["mileage"].unique()

array([ 21.4  ,  17.6  ,  20.85 ,  19.81 ,  17.19 ,  27.28 ,  15.37 ,
        18.   ,  20.14 ,  21.56 ,  23.7  ,  23.95 ,  26.6  ,  21.43 ,
        18.2  ,  20.65 ,  22.7  ,  11.3  ,  26.59 ,  20.92 ,  21.01 ,
        22.74 ,  20.51 ,  18.9  ,  22.9  ,  15.1  ,  11.57 ,  23.84 ,
        24.3  ,  25.47 ,  25.24 ,  22.1  ,  22.05 ,  11.4  ,  12.8  ,
        18.8  ,  24.   ,  21.94 ,  16.55 ,  21.   ,  22.07 ,  17.92 ,
        20.36 ,  17.52 ,  18.97 ,  20.   ,  16.56 ,  21.1  ,  20.09 ,
        23.59 ,  19.87 ,  16.   ,  20.8  ,  28.4  ,  21.79 ,  20.45 ,
        24.4  ,  27.3  ,  22.41 ,  25.6  ,  26.2  ,  25.17 ,  15.5  ,
        21.21 ,  15.4  ,  25.8  ,  23.4  ,  26.   ,  17.33 ,  25.2  ,
        19.44 ,  25.44 ,  25.83 ,  20.52 ,  16.5  ,  16.2  ,  13.96 ,
        17.   ,  19.4  ,  21.8  ,  17.1  ,  20.88 ,  19.01 ,  22.54 ,
        19.67 ,  17.8  ,  24.04 ,  18.6  ,  14.1  ,  27.4  ,  25.32 ,
        18.75 ,  21.19 ,  15.43 ,  20.77 ,  15.73 ,  18.5  ,  10.1  ,
        20.86 ,  15.2  ,  19.   ,  22.   ,  18.76 ,  13.2  ,  16.6  ,
        14.8  ,  23.   ,  22.32 ,  16.9  ,  14.28 ,  15.26 ,  18.25 ,
        17.84 ,  13.   ,  12.07 ,  11.74 ,  19.2  ,  15.17 ,   8.8  ,
        17.01 ,  18.53 ,  15.64 ,  14.11 ,  20.38 ,  24.39 ,  23.1  ,
        17.5  ,  24.52 ,  26.49 ,  30.46 ,  19.03 ,  22.77 ,  17.9  ,
        24.7  ,  21.63 ,  19.5  ,  17.03 ,  21.72 ,  33.44 ,  20.5  ,
        25.4  ,  20.89 ,  20.1  ,  22.38 ,  12.99 ,  24.8  ,  19.6  ,
        21.7  ,  15.7  ,  18.49 ,  20.68 ,  13.24 ,  19.47 ,  22.25 ,
        34.05 ,  25.   ,  23.01 ,  16.8  ,  30.48 ,  12.9  ,  23.2  ,
        26.68 ,  20.7  ,  20.73 ,  14.94 ,  27.39 ,  25.5  ,  21.66 ,
        17.3  ,  27.   ,  23.22 ,  11.88 ,  32.52 ,  25.1  ,  19.61 ,
        22.35 ,  12.55 ,  17.57 ,  15.04 ,  18.55 ,  26.8  ,  19.33 ,
        17.4  ,  28.09 ,  18.27 ,  16.11 ,  21.14 ,  23.57 ,  14.2  ,
        21.13 ,  20.28 ,  18.1  ,  18.88 ,  12.05 ,  19.7  ,  23.65 ,
        15.8  ,  21.5  ,  10.91 ,  28.   ,  17.29 ,  20.3  ,  15.6  ,
        13.7  ,  25.35 ,  18.06 ,  31.59 ,  22.56 ,  18.15 ,  23.64 ,
        17.41 ,  18.7  ,  14.4  ,  13.87 ,  20.27 ,  26.55 ,  16.1  ,
        16.47 ,  23.5  ,  24.97 ,  19.3  ,  21.04 ,  21.64 ,  14.   ,
        12.7  ,  13.93 ,  21.38 ,  12.98 ,  19.17 ,  22.95 ,  13.5  ,
        13.45 ,  26.82 ,  18.16 ,  19.98 ,  11.5  ,  14.66 ,  19.1  ,
        16.13 ,  17.42 ,   9.26 ,  12.83 ,  15.56 ,  20.37 ,  17.05 ,
        12.6  ,  15.34 ,   9.5  ,   9.17 ,  24.07 ,  26.21 ,  22.48 ,
        13.38 ,  14.75 ,  19.56 ,  15.81 ,  16.38 ,  11.   ,  12.04 ,
        12.   ,  17.67 ,   7.81 ,  12.4  ,  17.7  ,  19.65 ,  16.24 ,
        22.71 ,  17.68 ,  15.96 ,  16.82 ,  15.   ,  14.59 ,  14.82 ,
        19.28 ,  14.08 ,  31.12 ,  17.09 ,  20.04 ,  14.74 ,  18.45 ,
        12.62 ,  16.36 ,  10.8  ,  17.74 ,  19.49 ,  20.63 ,  32.26 ,
        16.3  ,  17.72 ,  18.24 ,  11.36 ,  18.4  ,  14.99 ,  22.15 ,
        20.34 ,  20.54 ,  18.3  ,  16.09 ,  11.9  ,  21.74 ,  16.42 ,
        14.6  ,  20.4  ,  11.67 ,  14.3  ,  16.02 ,  16.35 ,  11.18 ,
        16.95 ,  22.61 ,  13.4  ,  19.34 ,  18.12 ,  19.16 ,  12.74 ,
        16.34 ,  13.9  ,  15.01 ,  12.81 ,  15.68 ,  23.9  ,   8.13 ,
        11.7  ,   8.9  ,  11.49 ,  13.17 ,  18.56 ,  15.97 ,  16.77 ,
        15.3  ,  10.54 ,  22.8  ,  14.16 ,  10.5  ,  19.02 ,  17.21 ,
        22.5  ,  16.14 ,  21.02 ,  15.85 ,  31.2  ,  19.68 ,  15.63 ,
        16.98 ,  20.08 ,  22.3  ,  11.1  ,  17.71 ,  35.6  ,  33.   ,
        18.78 ,  13.01 ,  13.1  ,  21.9  ,  13.6  ,  14.7  ,  14.53 ,
        10.9  ,  23.08 ,  21.27 ,  16.94 ,  17.69 ,   8.   ,  21.46 ,
        19.59 ,  19.08 ,  13.68 ,  17.32 ,  16.73 ,  14.47 ,  23.03 ,
        16.78 ,  19.27 ,  21.76 ,  12.2  ,  17.43 ,  15.29 ,  19.15 ,
        20.71 ,  20.97 ,  20.62 ,  14.62 ,  19.8  ,  20.15 ,  18.23 ,
        19.69 ,  19.12 ,  12.1  ,  15.41 ,  11.24 ,  19.64 ,  10.71 ,
        14.07 ,  24.2  ,  19.09 ,  23.87 ,  17.14 ,  15.9  ,  11.2  ,
        24.76 ,  14.95 ,  18.64 ,  22.69 ,  18.41 ,  12.18 ,   9.4  ,
        14.67 ,  18.19 ,  24.35 ,  14.69 ,  16.07 ,  25.01 ,  14.84 ,
        16.46 ,  14.9  ,  27.97 ,  14.24 ,  19.71 ,  11.78 ,  10.93 ,
        14.49 ,  14.5  ,  16.7  ,  10.2  ,  11.81 ,  15.15 ,  14.21 ,
         9.52 ,  17.36 ,  19.83 ,  26.83 ,  17.88 ,  14.23 ,  12.35 ,
        23.56 ,   9.74 ,  21.3  ,  16.96 ,  12.95 ,  17.99 ,  11.07 ,
        26.78 ,  18.84 ,  16.25 ,  27.03 ,  26.32 ,  16.39 ,  14.34 ,
         9.   ,  15.16 ,  25.19 ,  12.63 ,  10.   ,  18.07 ,  16.65 ,
         9.8  ,  18.42 ,  13.14 ,  17.2  ,  20.58 ,  11.33 ,  23.8  ,
        14.19 ,  10.6  ,  18.43 ,  20.25 ,  18.05 ,  22.94 ,   8.5  ,
        19.23 ,  17.11 ,  14.85 ,  19.72 ,  19.62 ,  17.97 ,  14.72 ,
        12.78 ,  18.48 ,  22.37 ,  21.58 ,  18.67 ,  13.8  ,  21.73 ,
        11.8  ,  13.73 ,  26.08 ,  21.49 ,  31.79 ,  26.11 ,  18.51 ,
        20.64 ,  26.1  ,  18.69 ,  30.47 ,  19.89 ,  10.7  ,  18.33 ,
        16.51 ,  33.54 ,  21.12 ,  14.83 ,  18.86 ,  17.66 ,   9.6  ,
        16.93 ,  13.44 ,  17.24 ,  15.74 ,  26.3  ,  36.   ,  18.44 ,
        15.11 ,   8.45 ,  23.3  ,   6.7  ,  12.3  ,  24.29 ,  19.95 ,
        24.1  ,  26.5  ,  12.12 ,  15.38 ,  20.46 , 120.   ,  25.3  ,
        11.96 ,  12.51 ,  13.04 ,  14.81 ,  10.26 ,  17.85 ,  12.65 ,
         8.7  ,  13.49 ,  18.09 ,  13.32 ,  14.41 ,  13.79 ,  13.58 ,
       140.   ,  13.06 ,  14.025,  12.19 ,  16.72 ,  14.71 ,  19.05 ,
        11.86 ,  17.54 ,  12.5  ,  11.79 ,  24.5  ,  14.38 ,  12.28 ,
        11.25 ,  10.98 ,  14.02 ,  24.43 ,  16.05 ,  22.27 ,  13.03 ,
        10.75 ,  13.05 ,  12.33 ,  17.45 ,   7.08 ,  16.12 ,  16.4  ,
        12.97 ,  13.22 ,   8.6  ,   9.43 ,  14.01 ,   9.2  ,  13.33 ,
        33.85 ,  13.47 ,  16.28 ,  18.47 ,  18.32 ])

**Column 2 - resale_price**

In [141]:
car["resale_price"] = car["resale_price"].str.removeprefix("₹")
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,5.45 Lakh,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83.1bhp,5,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,10 Lakh,2018,2179,Third Party,Automatic,70000,First Owner,Diesel,153.86bhp,7,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,1.60 Lakh,2009,1086,Third Party,Manual,80000,First Owner,Petrol,68.05bhp,5,19.81,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,3.25 Lakh,Jul-13,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86.7bhp,5,18.00,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,20.75 Lakh,Jun-16,2494,Comprehensive,Automatic,68000,First Owner,Petrol,157.7bhp,5,19.16,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,8.35 Lakh,Jun-16,1798,Comprehensive,Manual,81000,First Owner,Petrol,138.03bhp,5,14.28,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,13.95 Lakh,Jun-19,1582,Comprehensive,Automatic,20000,First Owner,Diesel,126.2bhp,5,17.01,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,6.50 Lakh,Jun-17,1248,Comprehensive,Manual,32000,First Owner,Diesel,73.9bhp,5,19.30,Sedan,Delhi

In [142]:
car["resale_price"] = car["resale_price"].str.replace(',',' ')

In [143]:
car["resale_price"].unique()

array([' 5.45 Lakh', ' 10 Lakh', ' 4.50 Lakh', ..., ' 11.29 Lakh',
       ' 1.57 Crore', ' 27.25 Lakh'], dtype=object)

In [144]:
 car["resale_price"] = car["resale_price"].str.replace('[^\d\-+\.]', '')

C:\Users\PALLAWI WAGDRE\AppData\Local\Temp\ipykernel_2520\350954734.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  car["resale_price"] = car["resale_price"].str.replace('[^\d\-+\.]', '')

In [145]:
car["resale_price"] = car["resale_price"].str.rstrip('.')

car["resale_price"] = car["resale_price"].str.lstrip('+')

In [146]:
car["resale_price"] = car["resale_price"].str.replace(',','').astype('float64')

In [147]:
car['resale_price'].unique()

array([ 5.45, 10.  ,  4.5 , ..., 26.89, 11.29, 27.25])

In [148]:
car['resale_price'] = car['resale_price'].apply(lambda x: x * 100 if x > 100 else x)

# Check for outliers and remove or impute
mean_value = car['resale_price'].mean()
std_dev = car['resale_price'].std()
car['resale_price'] = car['resale_price'].apply(lambda x: mean_value if x > mean_value + 3 * std_dev else x)

# Normalize the data
car['resale_price'] = car['resale_price'] / 100  # Convert back to lakh

car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,0.0545,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83.1bhp,5,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,0.1000,2018,2179,Third Party,Automatic,70000,First Owner,Diesel,153.86bhp,7,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,0.0450,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,0.0450,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,0.0160,2009,1086,Third Party,Manual,80000,First Owner,Petrol,68.05bhp,5,19.81,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,0.0325,Jul-13,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86.7bhp,5,18.00,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,0.2075,Jun-16,2494,Comprehensive,Automatic,68000,First Owner,Petrol,157.7bhp,5,19.16,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,0.0835,Jun-16,1798,Comprehensive,Manual,81000,First Owner,Petrol,138.03bhp,5,14.28,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,0.1395,Jun-19,1582,Comprehensive,Automatic,20000,First Owner,Diesel,126.2bhp,5,17.01,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,0.0650,Jun-17,1248,Comprehensive,Manual,32000,First Owner,Diesel,73.9bhp,5,19.30,Sedan,Delhi

In [149]:
car['resale_price'].max()

760.0299744342544

In [150]:
car["resale_price"] = car["resale_price"]*10000000

In [151]:
car[car["resale_price"] ==car['resale_price'].max()]

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
80,2009 Chevrolet Spark 1.0 LT Option Pack,7.600300e+09,2009,995,Third Party,Manual,60000,Second Owner,Petrol,"63PS at 5,400 rpm",5,16.00,Hatchback,Agra
96,2009 Chevrolet Spark 1.0 LT,7.600300e+09,2009,995,Third Party,Manual,60000,Third Owner,Petrol,62bhp,5,18.00,Hatchback,Agra
97,2009 Chevrolet Spark 1.0 LT,7.600300e+09,2009,995,Third Party,Manual,60000,Second Owner,Petrol,62bhp,5,18.00,Hatchback,Agra
247,2011 Chevrolet Beat LT,7.600300e+09,2011,1199,Third Party,Manual,50000,Second Owner,Petrol,79.4bhp,5,18.60,Hatchback,Lucknow
293,2013 Tata Nano LX,7.600300e+09,2013,624,Third Party,Manual,60000,Second Owner,Petrol,37.48bhp,4,25.40,Hatchback,Lucknow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16618,2007 Maruti Alto LX,7.600300e+09,2007,796,Third Party,Manual,120000,Second Owner,Petrol,46.3bhp,5,19.70,Hatchback,Gurgaon
16647,2009 Hyundai i10 Era,7.600300e+09,2009,1086,Third Party,Manual,90000,Second Owner,Petrol,68.05bhp,5,19.81,Hatchback,Gurgaon
16778,2008 Maruti Zen Estilo Sports,7.600300e+09,2008,1061,Third Party,Manual,120000,First Owner,Petrol,64.9,5,16.90,Hatchback,Hyderabad
17109,2004 Ford Ikon 1.6 CLXI,7.600300e+09,2004,1597,Third Party,Manual,80000,Second Owner,Petrol,92,5,14.20,Sedan,Bangalore
17331,2009 Maruti Wagon R LXI,7.600300e+09,Dec-09,998,Comprehensive,Manual,82000,Second Owner,Petrol,67.1bhp,5,18.90,Hatchback,Delhi

In [152]:
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,545000.0,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83.1bhp,5,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,1000000.0,2018,2179,Third Party,Automatic,70000,First Owner,Diesel,153.86bhp,7,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14bhp,5,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,160000.0,2009,1086,Third Party,Manual,80000,First Owner,Petrol,68.05bhp,5,19.81,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,325000.0,Jul-13,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86.7bhp,5,18.00,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,2075000.0,Jun-16,2494,Comprehensive,Automatic,68000,First Owner,Petrol,157.7bhp,5,19.16,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,835000.0,Jun-16,1798,Comprehensive,Manual,81000,First Owner,Petrol,138.03bhp,5,14.28,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,1395000.0,Jun-19,1582,Comprehensive,Automatic,20000,First Owner,Diesel,126.2bhp,5,17.01,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,650000.0,Jun-17,1248,Comprehensive,Manual,32000,First Owner,Diesel,73.9bhp,5,19.30,Sedan,Delhi

**Column 3 - registered_year**

In [153]:
car["registered_year"].unique()

array(['2017', '2018', '2015', '2009', '2010', '2016', '2014', '2020',
       '2021', '2019', '2011', '2012', '2013', '2022', '2004', 'Dec-18',
       'Jun-18', 'Mar-16', 'Feb-18', 'Oct-14', 'Mar-14', 'Feb-13',
       'Aug-18', 'Jun-19', 'Dec-21', 'Apr-19', 'May-18', 'Nov-13',
       'Sep-22', 'Jan-21', 'Sep-20', 'Jan-15', 'Oct-17', 'Sep-19',
       'Jul-19', 'Mar-20', 'Jan-18', 'Nov-15', 'May-15', 'Dec-14',
       'Feb-19', 'May-16', 'Apr-18', 'May-21', '2008', 'Mar-22', 'Jun-16',
       'Jun-17', 'Jul-16', 'Jun-15', 'Sep-18', 'Nov-18', 'Aug-19',
       'Jun-21', '2006', 'Jan-17', 'Aug-14', 'Jul-13', 'Jul-17', 'Dec-13',
       'Sep-16', 'Mar-17', 'Feb-20', 'Oct-18', 'May-14', 'Aug-21',
       'Aug-20', 'Mar-19', 'Jan-16', 'Feb-16', 'Oct-15', 'May-19',
       'Dec-12', 'Nov-21', 'Mar-18', 'Nov-19', 'Aug-17', 'Feb-14',
       'Feb-21', 'Mar-21', 'Aug-16', 'Dec-16', 'Jan-20', 'Sep-17',
       'Apr-21', 'Apr-17', 'Jun-13', 'Dec-17', '2023', 'Jun-22', 'Apr-15',
       'Jul-18', 'Nov-20', 'Oct-20', 'Jul-20', 'May-20', 'Apr-22',
       'Dec-20', 'Jul-14', 'Mar-15', 'Dec-19', 'Oct-19', 'Feb-15',
       'Jul-21', 'May-17', 'May-13', 'Dec-15', 'Feb-22', 'Oct-16',
       'Jan-22', 'Oct-21', 'Jun-20', 'Oct-11', '2003', 'Oct-22', 'Aug-13',
       'May-11', 'Jan-14', 'Jun-14', 'May-07', 'Sep-13', 'Feb-17',
       'May-12', 'Jul-15', 'Jun-08', 'Sep-21', 'Mar-09', 'Dec-06',
       'Dec-10', 'Jan-10', 'Apr-08', 'Jul-11', 'Mar-11', 'Jun-12',
       'Nov-12', 'Dec-09', 'Jan-23', 'Feb-11', 'Nov-14', 'Jan-12',
       'Jul-12', 'Nov-11', 'Sep-09', 'Jan-11', 'Feb-12', 'Apr-09',
       'Apr-16', 'Jan-13', 'Apr-14', 'Jul-22', 'Nov-22', 'Nov-16',
       'May-22', 'Apr-20', 'Jul-23', 'Mar-23', 'Nov-17', 'Apr-13',
       'Sep-12', 'Jan-19', 'Dec-22', 'Jul-10', 'Sep-15', 'Aug-22',
       'May-10', 'Jul-06', 'Nov-08', 'Sep-14', 'Oct-10', 'Apr-12',
       'Oct-13', 'Jul-08', 'Apr-11', 'Aug-11', 'Feb-02', 'Aug-05',
       'Feb-08', 'May-06', 'Mar-10', 'Feb-10', 'Aug-08', 'Mar-08',
       'Jun-11', 'Aug-10', 'Mar-13', 'Jan-08', 'Jul-07', 'Oct-12',
       'Jun-09', 'Feb-07', 'Sep-10', 'Jul-09', 'Aug-15', 'Dec-11',
       'Aug-03', '2007', 'Mar-12', 'Apr-10', 'Nov-10', 'Aug-12', 'Jan-05',
       'May-09', 'Jun-10', 'Aug-09', 'Jul-03', 'Mar-03', 'Jan-09',
       'Jun-07', 'Feb-23', 'Jun-23', 'Oct-07', '2005', 'Sep-11', 'May-23',
       'Oct-09', 'Dec-03', '2002', 'Feb-09', 'Oct-08', 'Sep-08', 'Nov-09',
       'Aug-23', 'Dec-08', 'May-08', 'Jun-06', 'Jan-06', 'Jul-04',
       'Dec-04', 'Aug-06', 'Aug-07', 'Apr-23', 'Apr-07', 'Feb-06',
       'Nov-07', 'Jul-05'], dtype=object)

In [154]:
car["registered_year"] = car["registered_year"].replace({'Jan-11':'2011','Jan-12':'2012','Jan-13':'2013','Jan-14':'2014','Jan-15':'2015','Jan-16':'2016','Jan-17':'2017','Jan-18':'2018','Jan-19':'2019','Jan-20':'2020','Jan-21':'2021','Jan-22':'2022'})

In [155]:
car["registered_year"] = car["registered_year"].replace({'Feb-11':'2011','Feb-12':'2012','Feb-13':'2013','Feb-14':'2014','Feb-15':'2015','Feb-16':'2016','Feb-17':'2017','Feb-18':'2018','Feb-19':'2019','Feb-20':'2020','Feb-21':'2021','Feb-22':'2022'})

In [156]:
car["registered_year"] = car["registered_year"].replace({'Mar-11':'2011','Mar-12':'2012','Mar-13':'2013','Mar-14':'2014','Mar-15':'2015','Mar-16':'2016','Mar-17':'2017','Mar-18':'2018','Mar-19':'2019','Mar-20':'2020','Mar-21':'2021','Mar-22':'2022'})

In [157]:
car["registered_year"] = car["registered_year"].replace({'Apr-11':'2011','Apr-12':'2012','Apr-13':'2013','Apr-14':'2014','Apr-15':'2015','Apr-16':'2016','Apr-17':'2017','Apr-18':'2018','Apr-19':'2019','Apr-20':'2020','Apr-21':'2021','Apr-22':'2022'})

In [158]:
car["registered_year"] = car["registered_year"].replace({'Jun-11':'2011','Jun-12':'2012','Jun-13':'2013','Jun-14':'2014','Jun-15':'2015','Jun-16':'2016','Jun-17':'2017','Jun-18':'2018','Jun-19':'2019','Jun-21':'2021','Jun-20':'2020','Jun-22':'2022'})

In [159]:
car["registered_year"] = car["registered_year"].replace({'Jul-11':'2011','Jul-12':'2012','Jul-13':'2013','Jul-14':'2014','Jul-15':'2015','Jul-16':'2016','Jul-17':'2017','Jul-18':'2018','Jul-19':'2019','Jul-20':'2020','Jul-21':'2021','Jul-22':'2022'})

In [160]:
car["registered_year"] = car["registered_year"].replace({'Aug-11':'2011','Aug-12':'2012','Aug-13':'2013','Aug-14':'2014','Aug-15':'2015','Aug-16':'2016','Aug-17':'2017','Aug-18':'2018','Aug-19':'2019','Aug-20':'2020','Aug-21':'2021','Aug-22':'2022'})

In [161]:
car["registered_year"] = car["registered_year"].replace({'Sep-11':'2011','Sep-12':'2012','Sep-13':'2013','Sep-14':'2014','Sep-15':'2015','Sep-16':'2016','Sep-17':'2017','Sep-18':'2018','Sep-19':'2019','Sep-20':'2020','Sep-21':'2021','Sep-22':'2022'})

In [162]:
car["registered_year"] = car["registered_year"].replace({'Oct-11':'2011','Oct-12':'2012','Oct-13':'2013','Oct-14':'2014','Oct-15':'2015','Oct-16':'2016','Oct-17':'2017','Oct-18':'2018','Oct-19':'2019','Oct-20':'2020','Oct-21':'2021','Oct-22':'2022'})

In [163]:
car["registered_year"] = car["registered_year"].replace({'Nov-11':'2011','Nov-12':'2012','Nov-13':'2013','Nov-14':'2014','Nov-15':'2015','Nov-16':'2016','Nov-17':'2017','Nov-18':'2018','Nov-19':'2019','Nov-20':'2020','Nov-21':'2021','Nov-22':'2022'})

In [164]:
car["registered_year"] = car["registered_year"].replace({'Dec-11':'2011','Dec-12':'2012','Dec-13':'2013','Dec-14':'2014','Dec-15':'2015','Dec-16':'2016','Dec-17':'2017','Dec-18':'2018','Dec-19':'2019','Dec-21':'2021','Dec-20':'2020','Dec-22':'2022'})

In [165]:
car["registered_year"] = car["registered_year"].replace({'Jan-23':'2023','Feb-23':'2023','Mar-23':'2023','Apr-23':'2023','Jun-23':'2015','Jul-23':'2016','Aug-23':'2023','Sep-23':'2023','Oct-23':'2023','Nov-23':'2023','Dec-23':'2023'})

In [166]:
car["registered_year"] = car["registered_year"].replace({'May-11':'2011','May-12':'2012','May-13':'2013','May-14':'2014','May-15':'2015','May-16':'2016','May-17':'2017','May-18':'2018','May-19':'2019','May-20':'2020','May-21':'2021','May-22':'2022','May-23':'2023'})

In [167]:
car["registered_year"] = car["registered_year"].replace({'Jan-05':'2005','Jan-06':'2006','Jan-08':'2008','Jan-09':'2009','Jan-10':'2010'})

In [168]:
car["registered_year"] = car["registered_year"].replace({'Feb-02':'2002','Feb-03':'2003','Feb-04':'2004','Feb-06':'2006','Feb-07':'2007','Feb-08':'2008','Feb-09':'2009','Feb-10':'2010'})

In [169]:
car["registered_year"] = car["registered_year"].replace({'Mar-03':'2003','Mar-08':'2008','Mar-09':'2009','Mar-10':'2010'})

In [170]:
car["registered_year"] = car["registered_year"].replace({'Apr-04':'2004','Apr-07':'2007','Apr-08':'2008','Apr-09':'2009','Apr-10':'2010'})

In [171]:
car["registered_year"] = car["registered_year"].replace({'May-02':'2002','May-06':'2006','May-07':'2007','May-08':'2008','May-09':'2009','May-10':'2010'})

In [172]:
car["registered_year"].unique()

array(['2017', '2018', '2015', '2009', '2010', '2016', '2014', '2020',
       '2021', '2019', '2011', '2012', '2013', '2022', '2004', '2008',
       '2006', '2023', '2003', '2007', 'Jun-08', 'Dec-06', 'Dec-10',
       'Dec-09', 'Sep-09', 'Jul-10', 'Jul-06', 'Nov-08', 'Oct-10',
       'Jul-08', '2002', 'Aug-05', 'Aug-08', 'Aug-10', 'Jul-07', 'Jun-09',
       'Sep-10', 'Jul-09', 'Aug-03', 'Nov-10', '2005', 'Jun-10', 'Aug-09',
       'Jul-03', 'Jun-07', 'Oct-07', 'Oct-09', 'Dec-03', 'Oct-08',
       'Sep-08', 'Nov-09', 'Dec-08', 'Jun-06', 'Jul-04', 'Dec-04',
       'Aug-06', 'Aug-07', 'Nov-07', 'Jul-05'], dtype=object)

In [173]:
car["registered_year"] = car["registered_year"].replace({'Jun-02':'2002','Jun-06':'2006','Jun-07':'2007','Jun-08':'2008','Jun-09':'2009','Jun-10':'2010'})

In [174]:
car["registered_year"] = car["registered_year"].replace({'Jul-03':'2003','Jul-04':'2004','Jul-05':'2005','Jul-06':'2006','Jul-07':'2007','Jul-08':'2008','Jul-09':'2009','Jul-10':'2010'})

In [175]:
car["registered_year"] = car["registered_year"].replace({'Aug-03':'2003','Aug-05':'2005','Aug-06':'2006','Aug-07':'2007','Aug-08':'2008','Aug-09':'2009','Aug-10':'2010'})

In [176]:
car["registered_year"] = car["registered_year"].replace({'Sep-05':'2005','Sep-08':'2008','Sep-09':'2009','Sep-10':'2010'})

In [177]:
car["registered_year"] = car["registered_year"].replace({'Oct-07':'2007','Oct-08':'2008','Oct-09':'2009','Oct-10':'2010'})

In [178]:
car["registered_year"] = car["registered_year"].replace({'Nov-06':'2006','Nov-07':'2007','Nov-08':'2008','Nov-09':'2009','Nov-10':'2010'})

In [179]:
car["registered_year"] = car["registered_year"].replace({'Dec-03':'2003','Dec-04':'2004','Dec-06':'2006','Dec-08':'2008','Dec-09':'2009','Dec-10':'2010'})

In [180]:
car["registered_year"].unique()

array(['2017', '2018', '2015', '2009', '2010', '2016', '2014', '2020',
       '2021', '2019', '2011', '2012', '2013', '2022', '2004', '2008',
       '2006', '2023', '2003', '2007', '2002', '2005'], dtype=object)

In [181]:
car["registered_year"].value_counts()

2018    1977
2017    1970
2019    1679
2016    1676
2015    1379
2014    1276
2021    1238
2020    1102
2013     951
2022     865
2012     762
2011     700
2010     510
2009     302
2008     165
2023      67
2007      59
2006      47
2004      26
2005      26
2003      11
2002       4
Name: registered_year, dtype: int64

In [182]:
car.dropna(subset = ["registered_year"], axis = 0, inplace = True)

In [183]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16792 entries, 0 to 17445
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          16792 non-null  object
 1   resale_price       16792 non-null  float64
 2   registered_year    16792 non-null  object
 3   engine_capacity    16792 non-null  int32
 4   insurance          16792 non-null  object
 5   transmission_type  16792 non-null  object
 6   kms_driven         16792 non-null  int32
 7   owner_type         16792 non-null  object
 8   fuel_type          16792 non-null  object
 9   max_power          16792 non-null  object
 10  seats              16792 non-null  int32
 11  mileage            16792 non-null  float64
 12  body_type          16792 non-null  object
 13  city               16792 non-null  object
dtypes: float64(2), int32(3), object(9)
memory usage: 1.7+ MB

In [184]:
car['registered_year'] = car['registered_year'].astype(int)

**Column 10 - max_power**

In [185]:
car["max_power"] = car["max_power"].str.removesuffix("bhp")
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,545000.0,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83.1,5,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,1000000.0,2018,2179,Third Party,Automatic,70000,First Owner,Diesel,153.86,7,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14,5,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83.14,5,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,160000.0,2009,1086,Third Party,Manual,80000,First Owner,Petrol,68.05,5,19.81,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,325000.0,2013,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86.7,5,18.00,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,2075000.0,2016,2494,Comprehensive,Automatic,68000,First Owner,Petrol,157.7,5,19.16,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,835000.0,2016,1798,Comprehensive,Manual,81000,First Owner,Petrol,138.03,5,14.28,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,1395000.0,2019,1582,Comprehensive,Automatic,20000,First Owner,Diesel,126.2,5,17.01,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,650000.0,2017,1248,Comprehensive,Manual,32000,First Owner,Diesel,73.9,5,19.30,Sedan,Delhi

In [186]:
car["max_power"].unique()

array(['83.1', '153.86', '83.14', '68.05', '81.86', '69', '73', '86.7',
       '103.25', '98.6', '89', '67.1', '58.16', '88.7', '87.2', '118.36',
       '89.84', '170PS', '74', '81.80', '47.3', '67.04', '82', '140',
       '138.1', '84', '88.5', '88.50', '65.71', '47.33', '100.6', '102',
       '90 PS', '73.97', '61.7', '147.51', '73.9', '62.1', '78.9',
       '108.62', '167.67', '55.2', '86.63', '88', '67.06', '83.8',
       '113.43', '74.02', '67.05', '67', '63PS at 5,400 rpm', '98.96',
       '97.9', '58.2', '53.3', '62', '70', '103.3', '120bhp (86.7kw)',
       '118.35', '75 PS at 4000 rpm', '152.87', '57.6', '99', '138',
       '141', '108.5', '86.8', '78 kW', '105.94', '118PS at 6,600 rpm',
       '72', '61.68', '108.45', '88.73', '74.96', '126.2', '68', '81.83',
       '160.77', '98.63', '79.4', '77', '71.02', '108.49', '88.8',
       '174.33', '80 PS at 5200 rpm', '152 PS', '75', '130', '66.1',
       '103.26', '170', '85ps', '80', '126.32', '254.7', '187.74', '204',
       '241.4', '186', '150', '181', '443.87', '188', '167.62', '241.3',
       '143', '85.8', '72.40', '71.01', '98.59', '136', '97.89', '100',
       '130.2', '88.76', '121.3', '108.6', '40.3', '37.48', '103.5',
       '155', '102.5', '147.94', '113.98', '83.83', '53.26', '55.92',
       '113.45', '116.3', '58', '174.5', '119.35', '73.94', '91.1',
       '117.3', '121', '113.42', '58.33', '71 PS at 4500 rpm', '168.5',
       '59.17', '138.03', '72.41', '120', '103.52', '117.6', '105',
       '84.82', '158.2', '118.41', '73.75', '184', '46.3', '197', '70.02',
       '103.2', '86.83', '108.495', '40.36', '88.77', '167.68', '74.93',
       '104.55', '101.65', '70.40Bhp', '37', '45', '83.81', '65', '109PS',
       '84.8', '112bhp at 3800 rpm', '69.01', '116.6', '138.05', '126.3',
       '178.3', '148', '93.87', '78.8', '169', '64.1', '194.3', '201.1',
       '254.79', '306', '261.49', '360', '147.5', '252', '194', '177',
       '201.15', '191.76', '280', '335.25', '84.48', '110', '245', '258',
       '212.55', '221.3', '171 PS', '138.08', '453.26', '215.01', '78',
       '86.80', '82.9', '395', '91.7', '194.4', '115.05', '150.19',
       '90(66)', '257.47', '197.26', '105 PS at 5250 rpm', '76.43',
       '261.4', '157.75', '113.18', '158', '248', '93.7', '190', '177.6',
       '75.10', '163.7', '53.64', '75 PS', '171.5', '103.6', '104.5',
       '85.80', '147.9', '60 PS', '120.7', '92', '170.63', '112', '88.2',
       '75PS', '191.7', '65 PS at 5500 rpm', '104.68', '97.7',
       '90PS at 4000rpm', '187.7', '157.8', '134', '103', '121.31',
       '254.8', '281.61', '261.50', '157.7', '241.38', '55 Bhp', '320',
       '248.08', '237.36', '110.4', '214.5', '121.36', '183', '384.87',
       '336', '333', '189.08', '134.1', '136.78', '246.74', '175.56',
       '503', '174.3', '116.4', '107.2', '83.11', '82.85', '148.31', '94',
       '144', '103.2 PS at 5500 RPM', '126.24', '178', '83 PS', '160',
       '158.8', '107.3', '187.4', '35 ', '105PS', '74.9', '68.1', '115',
       '141.1', '59', '75 bhp at 5400 rpm', '57.5', '63 HP at 3200 rpm',
       '56.3', '63', '34.2', '100.5', '106', '64', '32.8', '167.6',
       '76.8', '123.37', '63.12', '103.39', '203.2', '178.49', '102.57',
       '91.72', '138.13', '120.96', '218', '100.57', '301.73', '147.8',
       '75.09', '105.5', '75.94', '197.13', '68.07', '117.60', '149.92',
       '47', '154', '71', '164.7', '335.26', '37.5', '90', '69.04',
       '132/4000-6000', '181.03', '35', '120.69', '86.79', '235',
       '147.52', '86.76', '101', '177.46', '120.3', '173', '89.75',
       '97.64', '91.18', '79.65', '139.46', '82.5', '215', '113.4',
       '178.4', '140.8', '272', '92.7', '156.82', '168', '558', '247',
       '375.5', '265', '203', '59.18', '313', '84.88', '108.50', '98.82',
       '38.4', '94.68', '123.24', '125', '35 Bhp', '208', '121.4',
       '63 PS', '152.88', '61 PS', '163.2', '110 PS at 4000 RPM', '179.5',
       '70.67', '182.46', '240', '177.5', '63.1', '168.7', '197.2',
       '130.3', '367', '76', '97.6', '71 PS', '153.87', '180', '112.4',
       '156.9', '160 BHP', '94.93', '101.64', '114', '53.5', '335.2',
       '82.4', '84bhp3750rpm', '108.48', '163.60', '231.78', '98',
       '151.89', '210', '187.40', '153.866', '99.61', '106 ', '241.39',
       '214.56', '181.04', '175', '100PS at 5,500rpm', '246.7',
       '150 ps 3850 rpm', '66.6', '98.5', '91.19', '95.48', '48.21',
       '100 ', '75PS at 4000rpm', '99.23', '150 kW at 6300 rpm', '80.46',
       '85 PS at 6000rpm', '271.3', '167.7', '115 PS', '66.7',
       '70 bhp at 5400 rpm', '58.3', '198.25', '32.5', '321', '380',
       '502.8', '185', '80.84', '157.57', '82 PS', '112.44', '85',
       '96.55', '104 PS', '66(90) / 4000', '61.6', '270.9', '52.8', '163',
       '271.2', '73.8', '25.5', '118.6', '140PS', '241.6',
       '110(150)/5700', '134hp', '91.2', '118.3', '300', '255', '241.7',
       '134.10', '167.63', '65.39', '118', '88 PS', '138.12', '85.7',
       '72.4', '40', '93 PS', '102.53', '161.6', '112.2', '260', '94 ',
       '379.7', '70 bhp at 4000 rpm', '57', '53 PS', '180kw', '236',
       '270.88', '162', '53', '99.6', '98.79', '303.7', '147.4', '237',
       '200', '328.5', '114.4', '362.9', '194.44', '400', '153.8',
       '442.53', '138.02', '224', '132PS', '80.9', '268', '282', '76.9',
       '375.48', '189.3', '174.57', '421', '335.3', '296', '231.1',
       '271.23', '160.92', '469', '382', '170hp', '73.74', '308', '198.5',
       '552', '237.4', '296.36', '110.5', '294.9', '122', '98.56',
       '170.6', '65.03', '245.59', '64.9', '500', '194.37', '420'],
      dtype=object)

In [187]:
car['max_power'] = car['max_power'].str.extract('(\d+)')

In [188]:
car['max_power'].unique()

array(['83', '153', '68', '81', '69', '73', '86', '103', '98', '89', '67',
       '58', '88', '87', '118', '170', '74', '47', '82', '140', '138',
       '84', '65', '100', '102', '90', '61', '147', '62', '78', '108',
       '167', '55', '113', '63', '97', '53', '70', '120', '75', '152',
       '57', '99', '141', '105', '72', '126', '160', '79', '77', '71',
       '174', '80', '130', '66', '85', '254', '187', '204', '241', '186',
       '150', '181', '443', '188', '143', '136', '121', '40', '37', '155',
       '116', '119', '91', '117', '168', '59', '158', '184', '46', '197',
       '104', '101', '45', '109', '112', '178', '148', '93', '169', '64',
       '194', '201', '306', '261', '360', '252', '177', '191', '280',
       '335', '110', '245', '258', '212', '221', '171', '453', '215',
       '395', '115', '257', '76', '157', '248', '190', '163', '60', '92',
       '134', '281', '320', '237', '214', '183', '384', '336', '333',
       '189', '246', '175', '503', '107', '94', '144', '35', '56', '34',
       '106', '32', '123', '203', '218', '301', '149', '154', '164',
       '132', '235', '173', '139', '272', '156', '558', '247', '375',
       '265', '313', '38', '125', '208', '179', '182', '240', '367',
       '180', '114', '231', '151', '210', '95', '48', '271', '198', '321',
       '380', '502', '185', '96', '270', '52', '25', '300', '255', '161',
       '260', '379', '236', '162', '303', '200', '328', '362', '400',
       '442', '224', '268', '282', '421', '296', '469', '382', '308',
       '552', '294', '122', '500', '420'], dtype=object)

In [189]:
car.dropna(subset = ['max_power'], inplace = True)

In [190]:
car['max_power'] = car['max_power'].astype(int)

In [191]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16792 entries, 0 to 17445
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          16792 non-null  object
 1   resale_price       16792 non-null  float64
 2   registered_year    16792 non-null  int32
 3   engine_capacity    16792 non-null  int32
 4   insurance          16792 non-null  object
 5   transmission_type  16792 non-null  object
 6   kms_driven         16792 non-null  int32
 7   owner_type         16792 non-null  object
 8   fuel_type          16792 non-null  object
 9   max_power          16792 non-null  int32
 10  seats              16792 non-null  int32
 11  mileage            16792 non-null  float64
 12  body_type          16792 non-null  object
 13  city               16792 non-null  object
dtypes: float64(2), int32(5), object(7)
memory usage: 1.6+ MB

# Removing Outliers

In [192]:
l = car['resale_price'].quantile(0.25)
u = car['resale_price'].quantile(0.75)
car['resale_price'] = car['resale_price'].clip(l,u)
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,545000.0,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83,5,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,900000.0,2018,2179,Third Party,Automatic,70000,First Owner,Diesel,153,7,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,385000.0,2009,1086,Third Party,Manual,80000,First Owner,Petrol,68,5,19.81,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,385000.0,2013,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86,5,18.00,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,900000.0,2016,2494,Comprehensive,Automatic,68000,First Owner,Petrol,157,5,19.16,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,835000.0,2016,1798,Comprehensive,Manual,81000,First Owner,Petrol,138,5,14.28,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,900000.0,2019,1582,Comprehensive,Automatic,20000,First Owner,Diesel,126,5,17.01,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,650000.0,2017,1248,Comprehensive,Manual,32000,First Owner,Diesel,73,5,19.30,Sedan,Delhi

In [193]:
l1 = car['registered_year'].quantile(0.25)
u1 = car['registered_year'].quantile(0.75)
car['registered_year'] = car['registered_year'].clip(l1,u1)
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,545000.0,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83,5,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,900000.0,2018,2179,Third Party,Automatic,70000,First Owner,Diesel,153,7,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,385000.0,2014,1086,Third Party,Manual,80000,First Owner,Petrol,68,5,19.81,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,385000.0,2014,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86,5,18.00,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,900000.0,2016,2494,Comprehensive,Automatic,68000,First Owner,Petrol,157,5,19.16,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,835000.0,2016,1798,Comprehensive,Manual,81000,First Owner,Petrol,138,5,14.28,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,900000.0,2019,1582,Comprehensive,Automatic,20000,First Owner,Diesel,126,5,17.01,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,650000.0,2017,1248,Comprehensive,Manual,32000,First Owner,Diesel,73,5,19.30,Sedan,Delhi

In [194]:
l2 = car['engine_capacity'].quantile(0.25)
u2 = car['engine_capacity'].quantile(0.75)
car['engine_capacity'] = car['engine_capacity'].clip(l2,u2)
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,545000.0,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83,5,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,900000.0,2018,1498,Third Party,Automatic,70000,First Owner,Diesel,153,7,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,385000.0,2014,1197,Third Party,Manual,80000,First Owner,Petrol,68,5,19.81,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,385000.0,2014,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86,5,18.00,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,900000.0,2016,1498,Comprehensive,Automatic,68000,First Owner,Petrol,157,5,19.16,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,835000.0,2016,1498,Comprehensive,Manual,81000,First Owner,Petrol,138,5,14.28,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,900000.0,2019,1498,Comprehensive,Automatic,20000,First Owner,Diesel,126,5,17.01,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,650000.0,2017,1248,Comprehensive,Manual,32000,First Owner,Diesel,73,5,19.30,Sedan,Delhi

In [195]:
l3 = car['kms_driven'].quantile(0.25)
u3 = car['kms_driven'].quantile(0.75)
car['kms_driven'] = car['kms_driven'].clip(l3,u3)
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,545000.0,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83,5,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,900000.0,2018,1498,Third Party,Automatic,70000,First Owner,Diesel,153,7,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,385000.0,2014,1197,Third Party,Manual,80000,First Owner,Petrol,68,5,19.81,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,385000.0,2014,1198,Comprehensive,Manual,80000,Second Owner,Petrol,86,5,18.00,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,900000.0,2016,1498,Comprehensive,Automatic,68000,First Owner,Petrol,157,5,19.16,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,835000.0,2016,1498,Comprehensive,Manual,80000,First Owner,Petrol,138,5,14.28,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,900000.0,2019,1498,Comprehensive,Automatic,33000,First Owner,Diesel,126,5,17.01,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,650000.0,2017,1248,Comprehensive,Manual,33000,First Owner,Diesel,73,5,19.30,Sedan,Delhi

In [196]:
l4 = car['max_power'].quantile(0.25)
u4 = car['max_power'].quantile(0.75)
car['max_power'] = car['max_power'].clip(l4,u4)
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,545000.0,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83,5,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,900000.0,2018,1498,Third Party,Automatic,70000,First Owner,Diesel,118,7,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,385000.0,2014,1197,Third Party,Manual,80000,First Owner,Petrol,78,5,19.81,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,385000.0,2014,1198,Comprehensive,Manual,80000,Second Owner,Petrol,86,5,18.00,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,900000.0,2016,1498,Comprehensive,Automatic,68000,First Owner,Petrol,118,5,19.16,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,835000.0,2016,1498,Comprehensive,Manual,80000,First Owner,Petrol,118,5,14.28,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,900000.0,2019,1498,Comprehensive,Automatic,33000,First Owner,Diesel,118,5,17.01,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,650000.0,2017,1248,Comprehensive,Manual,33000,First Owner,Diesel,78,5,19.30,Sedan,Delhi

In [197]:
l5 = car['seats'].quantile(0.25)
u5 = car['seats'].quantile(0.75)
car['seats'] = car['seats'].clip(l5,u5)
print(l5,u5)

5.0 5.0

In [198]:
l6 = car['mileage'].quantile(0.25)
u6 = car['mileage'].quantile(0.75)
car['mileage'] = car['mileage'].clip(l6,u6)
car

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,545000.0,2017,1197,Third Party,Manual,40000,First Owner,Petrol,83,5,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,900000.0,2018,1498,Third Party,Automatic,70000,First Owner,Diesel,118,5,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,450000.0,2015,1197,Third Party,Manual,70000,Second Owner,Petrol,83,5,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,385000.0,2014,1197,Third Party,Manual,80000,First Owner,Petrol,78,5,19.81,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,385000.0,2014,1198,Comprehensive,Manual,80000,Second Owner,Petrol,86,5,18.00,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,900000.0,2016,1498,Comprehensive,Automatic,68000,First Owner,Petrol,118,5,19.16,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,835000.0,2016,1498,Comprehensive,Manual,80000,First Owner,Petrol,118,5,17.00,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,900000.0,2019,1498,Comprehensive,Automatic,33000,First Owner,Diesel,118,5,17.01,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,650000.0,2017,1248,Comprehensive,Manual,33000,First Owner,Diesel,78,5,19.30,Sedan,Delhi

In [200]:
car.drop('full_name', axis = 1, inplace = True)

In [201]:
car.to_csv("cleaned_car_resale.csv", index = False)